
<div class="layer">
    <h1>Berkas-berkas Skripsi</h1>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.MahasiswaPengumpulanFile>()
        .HtmlAttributes(new { style = "width:695px" })
        .Name("Topik")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })    
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectPengumpulan", "Pengumpulan");
            })
            
        
        .Columns(columns =>
        {
            columns.Bound(o =>o.waktuKumpul).Title("Tanggal Pengumpulan").Width(140);
            columns.Bound(o => o.dokumen).Title("Nama Dokumen").Width(200);
            columns.Command(com => com.Custom("unduh").Text("Unduh File").Ajax(false)).Width(150);
        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
    


@using (Html.BeginForm("ProcessFile", "Upload",
                         FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data" })) { 
    @(Html.Telerik().Upload()
          .Name("attachments")
    )
    <p class="note">
        Ukuran file maksimum : 10 MB
    </p>
    <div style="margin: 20px 0 0 0;">
        <input type="submit" value="Kumpulkan" class="t-button" />
    </div>
 }  



</div>