
<div class="layer">
    <h1>Berkas-berkas Skripsi</h1>
		<table border="1">
				<tr>
					<th>Jenis</th>
					<th>Batas Pengumpulan</th>
					<th>File</th>
					<th>Waktu Pengumpulan</th>
				</tr>
				<tr>
					<td>Kontrak Kerja</td>
					<td>29 September 2012</td>
					<td><a>Lihat</a> | <a>Unduh</a></td>
					<td>28 September 2012</td>
				</tr>	
				<tr>
					<td>Laporan 1</td>
					<td>30 September 2012</td>
					<td>File belum tersedia</td>
                    <td><input type="file"></td>
					
				</tr>	
				<tr>
					<td>Laporan 2</td>
					<td>31 September 2012</td>
					<td>File belum tersedia</td>
					<td><input type="file"></td>
				</tr>	
			</table>
		</div>