
<table>
    <tr>
        <td>Nama</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>NPM</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Topik/Judul</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Pembimbing</td>
        <td><select><option>Lionov</option>
        <option>Anung</option></select></td>
    </tr>
    <tr>
        <td>Pengambilan ke</td>
        <td><select><option>1</option>
        <option>2</option></select></td>
    </tr>
    <tr>
        <td><input type="button" value="Save"/></td>
        <td><input type="button" value="Reset"/></td>
    </tr>
</table>