<script>
    $(function () {
        $("#tabs").tabs({
            event: "mouseover"
        });
    });

    function on() {
        document.getElementById('edit').style.display = "block";
        document.getElementById('view').style.display = "none";
    }
    function off() {
        document.getElementById('view').style.display = "block";
        document.getElementById('edit').style.display = "none";
    }
		</script>
<h1>Daftar Mahasiswa</h1>
			
							<div id="edit">
					<input type="button" value="Turn Editing Off" onclick="off()">
					<br><br>
					<table border="1">
						<tr>
							<th>Nama</th>
							<th>NPM</th>
							<th>Topik</th>
							<th></th>
						</tr>
						<tr>							
							<td>Maya</td>
							<td>2013730047</td>
							<td>E-commerce...</td>
							<td><input type="button" value="Edit" disabled="disabled"><input type="button" value="Hapus" disabled="disabled"></td>
						</tr>
						<tr>
							<td>Firman</td>
							<td>2014730007</td>
							<td>Sistem...</td>
							<td><input type="button" value="Edit" disabled="disabled"><input type="button" value="Hapus" disabled="disabled"></td>
						</tr>						
					</table>
					
					<br>
				
						<fieldset style="width:450px;">
							<legend>Daftarkan Mahasiswa</legend>
								<table>
									<tr>
										<td>Nama</td>
										<td>:</td>
										<td><input type="text"></td>
									</tr>
									<tr>
										<td>NPM</td>
										<td>:</td>
										<td><input type="text"></td>
									</tr>
									<tr>
										<td>Topik</td>
										<td>:</td>
										<td>
											<select><option>Pilih topik yang disediakan dosen ybs</option></select>
											<center>-----atau-----</center>
											<input size="50" type="text" value="mahasiswa mengajukan topik sendiri">
											
										</td>
									</tr>
								</table>	
								<input type="button" value="Tambahkan Mahasiswa" disabled="disabled">	
						</fieldset>
					
				</div>
				<div id="view">
					<input type="button" value="Turn Editing On" onclick="on()">
					<br><br>
					<table border="1">
						<tr>
							<th>Nama</th>
							<th>NPM</th>
							<th>Topik</th>
				
						</tr>
						<tr>							
							<td>Maya</td>
							<td>2013730047</td>
							<td>E-commerce...</td>

						</tr>
						<tr>
							<td>Firman</td>
							<td>2014730007</td>
							<td>Sistem...</td>
						</tr>						
					</table>
				</div>