
Isinya ganti password sama kalo mau setting email...


<table>
    <tr>
        <td>Change Password</td>
        <td></td>
    </tr>
    <tr>
        <td>Current password</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>New password</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Confirm new password</td>
        <td><input type="text"></td>
    </tr>
     <tr>
        <td><input type="button" value="Save"/></td>
        <td><input type="button" value="Cancel"/></td>
    </tr>
</table>

<table>
    <tr>
        <td>Pengaturan email </td>
        <td></td>
    </tr>
    <tr>
        <td>Notifikasi email</td>
        <td><input type="radio">Ya<input type="radio">Tidak</td>
    </tr>
    <tr>
        <td>Email address</td>
        <td><input type="text"></td>
    </tr>
     <tr>
        <td><input type="button" value="Save"/></td>
        <td><input type="button" value="Cancel"/></td>
    </tr>
</table>