
<h1>Topik 1</h1>
			<h2>Skripsi 1</h2>
				Diambil pada:
				<ul>
					<li>2010/2011 Ganjil</li>
					<li>2010/2011 Genap (ceritanya mengulang skripsi I)</li>
				</ul>
			<h2>Skripsi 2</h2>
				Diambil pada:
				<ul>
					<li>2011/2012 Genap</li> 
				</ul>

                <h1>Topik 2</h1>
			<h2>Skripsi 1</h2>
				Diambil pada:
				<ul>
					<li>2012/2013 Ganjil</li>				
				</ul>			