@{
    ViewBag.Title = "Biodata";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.post("ProfileDosen/GetBiodata", "", function (data) {
            $("#editInLine1a").html(data.nama);
            $("#viewInLine1a").val(data.nama);
            $("#editInLine2a").html(data.email);
            $("#viewInLine2a").val(data.email);
            $("#nik").html(data.NIK);
        });
        $.post("ProfileDosen/GetFoto", "", function (data) {            
            $("#foto").attr("src", data);
        });
    });

    function editInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "none";
        document.getElementById("editInLine" + id + "b").style.display = "none";
        document.getElementById("viewInLine" + id + "a").style.display = "inline";
        document.getElementById("viewInLine" + id + "b").style.display = "inline";
    }
    function viewInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "inline";
        document.getElementById("editInLine" + id + "b").style.display = "inline";
        document.getElementById("viewInLine" + id + "a").style.display = "none";
        document.getElementById("viewInLine" + id + "b").style.display = "none";

        $.post("ProfileDosen/GetBiodata", "", function (data) {
            $("#editInLine1a").html(data.nama);
            $("#viewInLine1a").val(data.nama);
            $("#editInLine2a").html(data.email);
            $("#viewInLine2a").val(data.email);
            $("#nik").html(data.NIK);
        });
    }

    $("#save-nama").click(function () {
        var values = { nama: $("#viewInLine1a").val() }
        $.post("ProfileDosen/SaveNama", values, function (data) {
            alert(data);
        });
        $('#content').load('ProfileDosen/Biodata');
    })
    $("#save-email").click(function () {
        var values = { email: $("#viewInLine2a").val() }
        $.post("ProfileDosen/SaveEmail", values, function (data) {
            alert(data);
        });
        $('#content').load('ProfileDosen/Biodata');
    })
    function onComplete(e) {
        $('#content').load('ProfileDosen/Biodata');
    }
    $("#remove-foto").click(function () {
        $.post("ProfileDosen/RemoveFoto", "", function (data) {
        });
        $('#content').load('ProfileDosen/Biodata');
    })
</script>
<div class="layer">
    <h1>
        Biodata</h1>
    <table class="profile">
        <tr>
            <td rowspan="3" style="width: 130px">
                <img src="../../../Content/images/user.png" class="avatar" id="foto">
            </td>
            <!--------------------NIK-------------------->
            <td style="height: 30px;">
                NIK
            </td>
            <td>
                :
            </td>
            <td>
                <span id="nik"></span>
            </td>
            <td style="width: 80px">
            </td>
        </tr>
        <tr>
            <!--------------------Nama-------------------->
            <td style="width: 85px; height: 30px;">
                Nama
            </td>
            <td style="width: 20px">
                :
            </td>
            <td style="width: 250px">
                <span id="editInLine1a"></span>
                <input type="text" style="width: 200px; display: none;" id="viewInLine1a" value="" />
            </td>
            <!--------------------Editor Nama-------------------->
            <td style="width: 100px;">
                <!--edit-->
                <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(1)" id="editInLine1b">
                    <span class="t-icon t-edit"></span></a>
                <!--save-->
                <span id="viewInLine1b" style="display: none;"><a class="t-button t-button-icon t-grid-edit"
                    id="save-nama"><span class="t-icon t-update"></span></a>&nbsp
                    <!--cancel-->
                    <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(1)"><span class="t-icon t-cancel">
                    </span></a></span>
            </td>
        </tr>
        <tr>
            <!--------------------Email-------------------->
            <td style="height: 30px;">
                Email
            </td>
            <td>
                :
            </td>
            <td>
                <span id="editInLine2a"></span>
                <input type="text" style="width: 200px; display: none;" id="viewInLine2a" value="" />
            </td>
            <!--------------------Editor Email-------------------->
            <td>
                <!--edit-->
                <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(2)" id="editInLine2b">
                    <span class="t-icon t-edit"></span></a>
                <!--save-->
                <span id="viewInLine2b" style="display: none;"><a class="t-button t-button-icon t-grid-edit"
                    id="save-email"><span class="t-icon t-update"></span></a>&nbsp
                    <!--cancel-->
                    <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(2)"><span class="t-icon t-cancel">
                    </span></a></span>
            </td>
        </tr>
        <tr>
            <td colspan="5">

                @(Html.Telerik().Upload()
    .Name("attachmentsFoto")
    .Multiple(false)
    .Async(async => async
    .Save("SaveFoto", "ProfileDosen")
    .Remove("RemoveFoto", "ProfileDosen")
    .AutoUpload(true))
    .ClientEvents(c => c
        .OnSuccess("onComplete")
    )

)
                <br />
                <button id="remove-foto" class="t-button t-state-default">
                    Reset Default</button>
            </td>
        </tr>
    </table>
</div>
@section HeadContent {
    <style type="text/css">
        .t-upload
        {
            float: left;
        }
        
        .note
        {
            clear: left;
            float: left;
        }
        
        .example .configurator
        {
            width: 400px;
            float: right;
            margin: 0 0 0 10em;
            display: inline;
        }
    </style>
}
