@{
    ViewBag.Title = "Biodata";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.post("ProfileDosen/GetBiodata", "", function (data) {
            $("#editInLine1a").html(data.nama);
            $("#viewInLine1a").val(data.nama);
            $("#editInLine2a").html(data.email);
            $("#viewInLine2a").val(data.email);
            $("#nik").html(data.NIK);
        });
        $.post("ProfileDosen/GetFoto", "", function (data) {
            $("#foto").attr("src", data);
        });
    });

    function editInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "none";
        document.getElementById("editInLine" + id + "b").style.display = "none";
        document.getElementById("viewInLine" + id + "a").style.display = "inline";
        document.getElementById("viewInLine" + id + "b").style.display = "inline";
    }
    function viewInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "inline";
        document.getElementById("editInLine" + id + "b").style.display = "inline";
        document.getElementById("viewInLine" + id + "a").style.display = "none";
        document.getElementById("viewInLine" + id + "b").style.display = "none";

        $.post("ProfileDosen/GetBiodata", "", function (data) {
            $("#editInLine1a").html(data.nama);
            $("#viewInLine1a").val(data.nama);
            $("#editInLine2a").html(data.email);
            $("#viewInLine2a").val(data.email);
            $("#nik").html(data.NIK);
        });
    }

    $("#save-nama").click(function () {
        var values = { nama: $("#viewInLine1a").val() }
        $.post("ProfileDosen/SaveNama", values, function (data) {
            alert(data);
            $('#content').load('ProfileDosen/Biodata');
        });
    })
    $("#save-email").click(function () {
        var values = { email: $("#viewInLine2a").val() }
        $.post("ProfileDosen/SaveEmail", values, function (data) {
            alert(data);
            $('#content').load('ProfileDosen/Biodata');
        });
    })
    function onComplete(e) {
        $('#content').load('ProfileDosen/Biodata');
    }
    $("#remove-foto").click(function () {
        $.post("ProfileDosen/RemoveFoto", "", function (data) {
            $('#content').load('ProfileDosen/Biodata');
        });
        
    })
</script>
<div class="layer">
    <h1>
        Biodata</h1>
    <div class="grid_5 alpha">
        <img src="../../../Content/images/user.png" alt="" class="avatar right" id="foto" />
    </div>
    <div class="grid_10 omega biodata">
        <!--------------------NIK-------------------->
        <div class="editor-label grid_15">
            <label>
                NIK
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15 row">
            <span id="nik"></span>
        </div>
        <br class="clear" />
        <!--------------------Nama-------------------->
        <div class="editor-label grid_15">
            <label>
                Nama
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15 row">
            <div class="grid_9 alpha">
                <span id="editInLine1a"></span>
                <input type="text" class="grid_14" style="display: none;" id="viewInLine1a" value="" />&nbsp;
            </div>
            <!--------------------Editor Nama-------------------->
            <div class="grid_6 omega">
                <!--edit-->
                <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(1)" id="editInLine1b">
                    <span class="t-icon t-edit"></span></a>
                <!--save-->
                <span id="viewInLine1b" style="display: none;"><a class="t-button t-button-icon t-grid-edit"
                    id="save-nama"><span class="t-icon t-update"></span></a>&nbsp
                    <!--cancel-->
                    <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(1)"><span class="t-icon t-cancel">
                    </span></a></span>
            </div>
        </div>
        <br class="clear" />
        <!--------------------Email-------------------->
        <div class="editor-label grid_15">
            <label>
            Email
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15 row">
            <div class="grid_9 alpha">
            <span id="editInLine2a"></span>
            <input type="text" class="grid_14" style="display: none;" id="viewInLine2a" value="" />&nbsp;
            </div>
        <!--------------------Editor Email-------------------->
            <div class="grid_6 omega">
            <!--edit-->
            <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(2)" id="editInLine2b">
                <span class="t-icon t-edit"></span></a>
            <!--save-->
            <span id="viewInLine2b" style="display: none;"><a class="t-button t-button-icon t-grid-edit"
                id="save-email"><span class="t-icon t-update"></span></a>&nbsp
                <!--cancel-->
                <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(2)"><span class="t-icon t-cancel">
                </span></a></span>
            </div>
        </div>
        <br class="clear" />
    </div>
    <br class="clear" />
    <div class="grid_9 prefix_3">
        @(Html.Telerik().Upload()
    .Name("attachmentsFoto")
    .Multiple(false)
    .Async(async => async
    .Save("SaveFoto", "ProfileDosen")
    .Remove("RemoveFoto", "ProfileDosen")
    .AutoUpload(true))
    .ClientEvents(c => c
        .OnSuccess("onComplete")
    )

)
        <br />
        <button id="remove-foto" class="t-button t-state-default">
            Reset Default</button>
    </div>
</div>
@section HeadContent {
    <style type="text/css">
        .t-upload
        {
            float: left;
        }
        .note
        {
            clear: left;
            float: left;
        }
        .example .configurator
        {
            width: 400px;
            float: right;
            margin: 0 0 0 10em;
            display: inline;
        }
    </style>
}
