<div class="layer">
    <h1>Detail Nilai Skripsi-1</h1>

    <table>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>Cemon</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>:</td>
            <td>2011730070</td>
        </tr>
        <tr>
            <td>UTS</td>
            <td>:</td>
            <td>80</td>
        </tr>
        <tr>
            <td>UAS</td>
            <td>:</td>
            <td>85</td>
        </tr>

        <tr>
            <td>ART</td>
            <td>:</td>
            <td>69</td>
        </tr>
        <tr>
            <td>Hasil Akhir</td>
            <td>:</td>
            <td>80</td>
        </tr>
    </table>
</div>