<div class="layer">
    <h1>Rekap Nilai</h1>
@( Html.Telerik().TabStrip()
.Name("TabStrip")
.Items(
    parent => {
    parent.Add().Text("Daftar Mahasiswa").LoadContentFrom("IndexMahasiswa", "Nilai").Selected(true);

    parent.Add().Text("Laporan Nilai").LoadContentFrom("Report", "Nilai");
    
})
)

</div>