<h2>Pembimbing : Cecilia E. Nugraheni</h2>
    <table>
        <tr>
            <th>Komponen</th>
            <th>Nilai</th>
            <th>Bobot</th>
        </tr>
        <tr>
            <td>Tata tulis laporan</td>
            <td>79</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Kelengkapan materi</td>
            <td>75</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Penguasaan materi</td>
            <td>79</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Proses bimbingan</td>
            <td>86</td>
            <td>30</td>
        </tr>
    </table>