<h2>Penguji-1 : Luciana A.</h2>
    <table>
        <tr>
            <th>Komponen</th>
            <th>Nilai</th>
            <th>Bobot</th>
        </tr>
        <tr>
            <td>Tata tulis laporan</td>
            <td>75</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Kelengkapan materi</td>
            <td>80</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Penguasaan materi</td>
            <td>82</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Komunikasi</td>
            <td>87</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Pencapain Tujuan</td>
            <td>70</td>
            <td>25</td>
        </tr>
    </table>