<script src="../../../Scripts/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div class="layer">
    <h1>Rekap Nilai</h1>
    <div id="tabs">
            <li><a href="#skripsi-1">Skripsi 1</a></li>
            <li><a href="#skripsi-2">Skripsi 2</a></li>
            <div id="skripsi-1">
                <table>
                    <tr>
                        <th>NPM</th>
                        <th>Nama</th>
                        <th>Topik</th>
                        <th>ART</th>
                        <th>UTS</th>
                        <th>UAS</th>
                        <th>Hasil Akhir</th>
                    </tr>
                    <tr>
                        <td>2010730020</td>
                        <td>Mawar</td>
                        <td>Pengenalan Pola</td>
                        <td>90</td>
                        <td>80</td>
                        <td>70</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td>2010730017</td>
                        <td>Melati</td>
                        <td>Jaringan Nirkabel</td>
                        <td>69</td>
                        <td>76</td>
                        <td>70</td>
                        <td>70</td>
                    </tr>
                </table>
            </div>

            <div id="skripsi-2">
            <table>
                <tr>
                    <th>NPM</th>
                    <th>Nama</th>
                    <th>Topik</th>
                    <th>Pembimbing</th>
                    <th>Penguji 1</th>
                    <th>Penguji 2</th>
                    <th>Hasil Akhir</th>
                </tr>
                <tr>
                    <td>2010730020</td>
                    <td>Jill</td>
                    <td>Simulated Anneling</td>
                    <td>90</td>
                    <td>80</td>
                    <td>70</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>2010730017</td>
                    <td>John</td>
                    <td>Crowd Simulation</td>
                    <td>69</td>
                    <td>76</td>
                    <td>70</td>
                    <td>70</td>
                </tr>
            </table>
        </div>
    </div>

</div>