
<script src="../../Scripts/schedular/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
<script src="../../Scripts/schedular/ext/dhtmlxscheduler_editors.js" type="text/javascript" charset="utf-8"></script>
<script src="../../Scripts/schedular/ext/dhtmlxscheduler_minical.js" type="text/javascript" charset="utf-8"></script>
<script src="../../Scripts/schedular/ext/dhtmlxscheduler_readonly.js" type="text/javascript" charset="utf-8"></script>
<script src="../../Scripts/schedular/ext/dhtmlxscheduler_dhx_terrace.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="../../Scripts/schedular/dhtmlxscheduler_dhx_terrace.css" type="text/css" media="screen"
	    title="no title" charset="utf-8">
<style>
    .dhx_cal_event.high div, .dhx_cal_event_line.high{
        background-color:red !important; 
        color:white !important;
    }
    .dhx_cal_event.low div, .dhx_cal_event_line.low{
        background-color: #BBBBBB !important; 
        color:white !important;
    }
</style>
<script type="text/javascript" charset="utf-8">


    function init() {
        scheduler.config.multi_day = true;
        scheduler.config.fix_tab_position = false; // tabs are positioned correctly, no need to fix it
        scheduler.config.minicalendar.mark_events = false; // events won't be marked on minicalendar
        scheduler.config.full_day = true;
        scheduler.config.xml_date = "%Y-%m-%d %H:%i";
        //label
        scheduler.locale.labels.section_text = 'Title';
        scheduler.locale.labels.section_description = 'Description';
        scheduler.locale.labels.section_type = 'Type';
        scheduler.locale.labels.section_place = 'Place';
        scheduler.locale.labels.section_priority = 'Priority';
        scheduler.locale.labels.section_group = 'Share';

        var priority_choice = [
                    { key: "high", label: 'High' },
                    { key: "normal", label: 'Normal' },
                    { key: "low", label: 'Low' }
                ];
        scheduler.attachEvent("onBeforeLightbox", function (event_id) {
            var configLb = [
			            { name: "text", height: 30, map_to: "text", type: "textarea", focus: true },
                        { name: "description", height: 75, map_to: "description", type: "textarea" },
                        { name: "time", height: 72, type: "calendar_time", map_to: "auto" },
                        { name: "place", height: 30, map_to: "place", type: "textarea" },
                        { name: "priority", height: 50, options: priority_choice, map_to: "priority", type: "radio", vertical: true, default_value: "normal" }
		            ];
            scheduler.config.lightbox.sections = configLb;
            scheduler.resetLightbox(); // resetting lightbox to apply new section label
            return true; // lightbox will be displayed
        });


        scheduler.templates.event_class = function (start, end, event) {
            if (event.priority == "high") {
                return "high";
            } else if (event.priority == "normal") {
                return "normal";
            } else if (event.priority == "low") {
                return "low";
            }
        }
        
        scheduler.init('scheduler_here', new Date(), "month");
        $.post("Kalender/Data", "", function (data) {
            scheduler.parse(JSON.stringify(data), "json");
        });

        var dp = new dataProcessor("/Kalender/Save");

        dp.setTransactionMode("POST", false);
        dp.enableDataNames(true);
        dp.init(scheduler);
    }

    $(document).ready(function () {
        init();

    });


</script>
@{
    ViewBag.Title = "Kalendar";
}
<div id="test">

</div>
<div class="layer">
<h1>Kalender</h1>
<div id="scheduler_here" class="dhx_cal_container" style='padding-top=10px; height:500px;'>
	<div class="dhx_cal_navline">
		<div class="dhx_cal_prev_button">&nbsp;</div>
		<div class="dhx_cal_next_button">&nbsp;</div>
		<div class="dhx_cal_today_button"></div>
		<div class="dhx_cal_date"></div>
		<div class="dhx_cal_tab dhx_cal_tab_first" name="day_tab" style="left:14px;"></div>
		<div class="dhx_cal_tab" name="week_tab" style="left:75px;"></div>
		<div class="dhx_cal_tab dhx_cal_tab_last" name="month_tab" style="left:136px;"></div>
	</div>
	<div class="dhx_cal_header">
	</div>
	<div class="dhx_cal_data">
    </div>
</div>
</div>

