<div class="layer">
    <h1>Jadwal Semester</h1>
    
    <table>
	<tr>
		<td class="header"><strong>Kegiatan</strong></td>
		<td class="header"><strong>Skripsi 1</strong></td>
		<td class="header"><strong>Skripsi 2</strong></td>
	</tr>
	<tr>
		<td><strong>Kirim topik pertama kali</strong></td>
		<td>6 Maret 2013<br/><span class="time">06:30</span></td>
		<td>-</td>
	</tr>
	<tr>
		<td><strong>Sidang/review proposal</strong></td>
		<td>6 Mei 2013</td>
		<td>-</td>
	</tr>
	<tr>
		<td><strong>UTS skripsi terakhir</strong></td>
		<td>22 Maret 2013<br/><span class="time">13:00</span></td>
		<td>26 Februari 2013<br/><span class="time">13:00</span></td>
	</tr>
	<tr>
		<td><strong>Kelengkapan sidang terakhir</strong></td>
		<td>01 Mei 2013</td>
		<td>13 Maret 2013</td>
	</tr>
	<tr>
		<td><strong>Pengumpulan revisi</strong></td>
		<td>15 Mei 2013<br/><span class="time">11:00</span></td>
		<td>10 Juni 2013<br/><span class="time">15:00</span></td>				
	</tr>
    </table>
    
    <h3>Tambah kegiatan</h3>

	<form>
		<table>			
		<tr>
			<td>Mata kuliah</td><td>:</td><td>
				<select>
				<option value="metlit">Metodologi penelitian</option>
				<option value="skripsi 1">Skripsi 1</option>
				<option value="skripsi 2">Skripsi 2</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Nama event</td><td>:</td><td><input type="text" name="nama_event" size=32></td>
		</tr>
		<tr>
			<td>Tanggal</td><td>:</td><td>(nanti di sini ada kalender) <input type="text" name="waktu_event" size=5 value="waktunya"></td>
		</tr>
		<tr>
			<td colspan=3 align="right"><input type="submit" value="Tambah"></td>
		</tr>
		</table>			
	</form>
	
</div>
