@model Proyek_Informatika.Models.DosenKartuBimbingan
@(  Html.Telerik().Window()
        .Name("Window")
        .Title("Submit feedback")
        .Content(@<text>
            @using (Html.BeginForm("popupform", "window", FormMethod.Post, new { id = "feedback-form" }))
            {   
                @Html.LabelFor(model => model.bahasan)
                @Html.TextBoxFor(model => model.bahasan)
                @(Html.Telerik().EditorFor(model => model.detil)
                        .Encode(false)
                        .Tools(tools => tools
                            .Clear()
                            .Bold().Italic().Separator()
                            .InsertOrderedList().InsertUnorderedList().Separator()
                            .Indent().Outdent().Separator()
                            .CreateLink()
                        ))
                <div class="form-actions">
                    <button type="submit" class="t-button t-state-default">Tambahkan</button>
                </div>
            }
            </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(true)
)