
    <script src="../../../Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="../../../Scripts/bimbingan/dosen_kartubimbingan.js" type="text/javascript"></script>


<div class="layer">
    <h1>Kartu Bimbingan Mahasiswa</h1>
<table>
    <tr>
        <th>NPM</th>
        <th>Nama</th>
        <th>Topik</th>
        <th>Tipe</th>
        <th>Buka</th>
    </tr>
    <tr>
        <td>2010730020</td>
        <td>Mawar</td>
        <td>Pengenalan Pola</td>
        <td>Skripsi 1</td>
        <td><input type="button" title="Lihat" value="Lihat" id="btn_buka"/></td>
    </tr>
    <tr>
        <td>2010730017</td>
        <td>Melati</td>
        <td>Jaringan Nirkabel</td>
        <td>Skripsi 2</td>
        <td><input type="button" value="Lihat" title="Lihat" id="btn_buka"/></td>
    </tr>

</table>

<div id="tool_kartubimbingan">

        Pokok Bahasan : <input type="text"  title="Pokok Bahasan"/>
        <input type = "button" value="Tambahkan" />
    @(Html.Telerik().Grid<Proyek_Informatika.Models.DosenKartuBimbingan>()
        .HtmlAttributes(new { style = "width:695px" })
        .Name("Topik")
        .DataKeys(keys =>
        {
            keys.Add(p => p.tanggal);
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.tanggal).Width(75).Title("Tanggal");
            columns.Bound(o => o.bahasan).Width(150).Title("Bahasan");
        })
        //.ClientEvents(
        //    events => events
        //        .OnComplete("OnComplete") --> popup window
        //)
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
</div>
</div>