@model Proyek_Informatika.Models.HansContainer.EnumBimbingan
<script type="text/javascript">

    function onDataBinding(e) {
        e.data = { periode : @ViewBag.periode, jenis_skripsi : @ViewBag.jenis_skripsi };
    }

    function aksia(e) {
        if (e.name == "viewKartu") {
            var values = { id_skripsi: e.dataItem.id };
            $.post("BimbinganDosen/KartuBimbingan", values, function (data) {
                var detailWindow = $("#contentWindow").data("tWindow");

                $("#contents").html(data);
                detailWindow.center().open();
                
            });
        }
        else if (e.name == "viewLaporan") {
            var values = { id_skripsi: e.dataItem.id };
            $.post("PengumpulanDosen/FileMahasiswa", values, function (data) {
                var detailWindow = $("#contentWindow").data("tWindow");

                $("#contents").html(data);
                detailWindow.center().open();
                
            });
        }
        

    }
</script>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.DosenMuridBimbinganContainer>()
        .Name("RekapBimbinganDosen")
        .Columns(columns =>
        {
            columns.Bound(o => o.npm).Width(50).Title("NPM");
            columns.Bound(o => o.namaMahasiswa).Width(100).Title("Nama Mahasiswa");
            columns.Bound(o => o.judul).Width(150).Title("Judul");
            columns.Command(com =>
            {
                com.Custom("viewKartu").Ajax(true).Text("Kartu Bimbingan");
                com.Custom("viewLaporan").Ajax(true).Text("Daftar Laporan");
            }).Width(50).Title("Aksi");
        })
        .DataBinding(bin => bin.Ajax().Select("_SelectBimbinganMahasiswa", "BimbinganDosen"))
        .ClientEvents(ev => { 
            ev.OnCommand("aksia");
            ev.OnDataBinding("onDataBinding");
        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable())
        
        @(Html.Telerik().Window()
                .Name("contentWindow")
                .Title("Mahasiswa")
                .Content(@<text><div id = "contents"></div></text>)
                    .Width(800)
                    .Height(600)
                    .Draggable(true)
                    .Modal(true)
                    .Visible(false)
                )

