Proyek Informatika/Proyek Informatika/App_Data/ASPNETDB.MDF
Proyek Informatika/Proyek Informatika/App_Data/aspnetdb_log.ldf
Proyek Informatika/Proyek Informatika/Proyek Informatika.csproj
Proyek Informatika/Proyek Informatika/obj/Debug/Proyek Informatika.csproj.FileListAbsolute.txt
Proyek Informatika/Proyek Informatika/obj/Debug/edmxResourcesToEmbed/Models/SkripsiAuto.csdl
Proyek Informatika/Proyek Informatika/obj/Debug/edmxResourcesToEmbed/Models/SkripsiAuto.msl
Proyek Informatika/Proyek Informatika/obj/Debug/edmxResourcesToEmbed/Models/SkripsiAuto.ssdl
Proyek Informatika/Proyek Informatika/Models/SkripsiAuto.Context.cs
Proyek Informatika/Proyek Informatika/Models/SkripsiAuto.Designer.cs
Proyek Informatika/Proyek Informatika/Models/SkripsiAuto.edmx
