
<div class="layer">
    <h1>Rekap Bimbingan</h1>
    
    @( Html.Telerik().TabStrip()
        .Name("KorBimTab")
        .Items(parent => {
            parent.Add()
                .Text("Skripsi-1")
                .LoadContentFrom("Skripsi1", "BimbinganKoordinator")
                .Selected(true);

            parent.Add()
                .Text("Skripsi-2")
                .LoadContentFrom("Skripsi2", "BimbinganKoordinator");
            
        })
    )
    
    
</div>