@inherits System.Web.Mvc.WebViewPage
<div class ="layer">
@(Html.Telerik().TabStrip()
.Name("ReportBimbingan")
.Items(i => {
    i.Add().Text("List Mahasiswa").LoadContentFrom("IndexMahasiswa", "BimbinganKoordinator").Selected(true);
    i.Add().Text("Report Bimbingan").LoadContentFrom("Report", "BimbinganKoordinator");
})
)
</div>