<script type="text/javascript">
    function viewKartuBimbingan(e) {
        var values = { id_skripsi: e.dataItem.id };
        $.post("BimbinganKoordinator/KartuBimbingan", values, function (data) {
            var detailWindow = $("#DetailBimbingan").data("tWindow");
            $("#container").html(data);
            detailWindow.center().open();

        });

    }
</script>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.KoordinatorListMahasiswa>()
        .Name("RekapBimbinganKoordinator")
        .DataBinding(bin => bin.Ajax().Select("SelectBimbingan", "BimbinganKoordinator", new {periode = ViewBag.periode, jenis_skripsi = ViewBag.jenis_skripsi}))
        .Columns(columns =>
        {
            //columns.Bound(o => o.periode).Width(100).Title("Periode");
            //columns.Bound(o => o.nikDosen).Width(100).Title("NIK Dosen");        
            columns.Bound(o => o.npmMahasiswa).Width(100).Title("NPM");
            columns.Bound(o => o.namaMahasiswa).Width(150).Title("Mahasiswa");
            columns.Bound(o => o.namaDosen).Width(150).Title("Pembimbing");
            //columns.Bound(o => o.judul).Width(150).Title("Judul");
            columns.Bound(o => o.jumlahBimbingan).Width(150).Title("Jumlah Bimbingan");
            columns.Command(comm => comm.Custom("detailBimbingan")
                .Text("Kartu Bimbingan")
                .Ajax(true))
                .Width(150).Title("");

        })
        .DetailView(det => det.ClientTemplate(
                        "<fieldset class='detail'>" +
                            "<legend>Detail</legend>" +
                            "<div class='grid_5'>" +
                                "<div class='editor-label grid_15'><label>NPM</label></div><div class='editor-field grid_15'><#= npmMahasiswa #></div>" +
                                "<div class='editor-label grid_15'><label>Mahasiswa</label></div><div class='editor-field grid_15'><#= namaMahasiswa #></div>" +
                                "<div class='editor-label grid_15'><label>Pembimbing</label></div><div class='editor-field grid_15'><#= namaDosen #></div>" +
                            "</div>" +

                            "<div class='grid_10'>" +
                                "<div class='editor-label grid_15'><label>Judul Skripsi</label></div><div class='editor-field grid_15'><#= judul #></div>" +
                                "<div class='editor-label grid_15'><label>Jumlah Bimbingan</label></div><div class='editor-field grid_15'><#= jumlahBimbingan #></div>" +
                            "</div>" +
                    "</fieldset>"
            ))
        .ClientEvents(ev => ev.OnCommand("viewKartuBimbingan"))

        .Sortable()
        .Filterable()
        .Pageable(p => p.PageSize(10))
        .Scrollable(c => c.Enabled(true).Height(500))
        .Selectable()
        .Groupable())

        @(Html.Telerik().Window()
                .Name("DetailBimbingan")
                .Visible(false)
                .Title("Detail Nilai")
                .Modal(true)
                .Width(950)
                .Height(600)
                .Scrollable(true)
                .Content(@<text><div id = "container"></div></text>))

