<script type="text/javascript">
    function viewKartuBimbingan(e) {
        var values = { id_skripsi: e.dataItem.id };
        $.post("BimbinganKoordinator/KartuBimbingan", values, function (data) {
            var detailWindow = $("#DetailBimbingan").data("tWindow");

            $("#container").html(data);
            detailWindow.center().open();

        });

    }
</script>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.KoordinatorBimbingan>()
        .Name("RekapBimbinganKoordinator")
        .DataBinding(bin => bin.Ajax().Select("SelectBimbingan", "BimbinganKoordinator", new {tipe = 1 }))
        .Columns(columns =>
        {
            columns.Bound(o => o.periode).Width(100).Title("Periode");
            columns.Bound(o => o.nikDosen).Width(100).Title("NIK Dosen");
            columns.Bound(o => o.namaDosen).Width(150).Title("Nama Dosen");
            columns.Bound(o => o.npmMahasiswa).Width(150).Title("NPM Mahasiswa");
            columns.Bound(o => o.namaMahasiswa).Width(150).Title("Nama Mahasiswa");
            columns.Bound(o => o.judul).Width(150).Title("Judul");
            columns.Bound(o => o.jumlahBimbingan).Width(150).Title("Jumlah Bimbingan");
            columns.Command(comm => comm.Custom("detailBimbingan")
                .Text("Lihat Kartu Bimbingan")
                .Ajax(true))
                .Width(150).Title("KartuBimbingan");

        })
        .ClientEvents(ev => ev.OnCommand("viewKartuBimbingan"))
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable())

        @(Html.Telerik().Window()
                .Name("DetailBimbingan")
                .Visible(false)
                .Title("Detail Nilai")
                .Modal(true)
                .Width(950)
                .Height(600)
                .Scrollable(true)
                .Content(@<text><div id = "container"></div></text>))

