@model Proyek_Informatika.Models.TopikContainer
@{
    ViewBag.Title = "Registrasi Mahasiswa";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.post("PendaftaranDosen/GetTopik", "", function (data) {
            var get = "";
            $.each(data, function (index, value) {
                get += "<option value='" + value.id + "'>" + value.judul + "</option>";
            });
            $("#mahsiswa-topik-1").html(get);
        });

        //$.post("PendaftaranDosen/GetMahasiswa", "", function (data) {
        //    var get = "";
        //    $.each(data, function (index, value) {
        //       get += "<option value='" + value.NPM + "'>" + value.NPM +" - " + value.nama + "</option>";
        //    });
        //    $("#mahsiswa-npm-2").html(get);
        //});

    });

    function onCommand(e) {
        if (e.name == "lihatDetail") {
            var text = ""; //"<table class='window-content'>";
            text += "<div class='grid_5'><img class='avatar' src='" + e.row.cells[7].innerHTML + "'/></div><div class='grid_10'>";
            text += "<div class='editor-label grid_15'><label>NPM</label></div><br class='clear' /><div class='editor-field grid_15 row'>" + e.row.cells[1].innerHTML + "</div><br class='clear' />";
            text += "<div class='editor-label grid_15'><label>Nama</label></div><br class='clear' /><div class='editor-field grid_15 row'>" + e.row.cells[2].innerHTML + "</div><br class='clear' />";
            text += "<div class='editor-label grid_15'><label>Email</label></div><br class='clear' /><div class='editor-field grid_15 row'>" + e.row.cells[3].innerHTML + "</div><br class='clear' />";
            text += "<div class='editor-label grid_15'><label>Telepon</label></div><br class='clear' /><div class='editor-field grid_15 row'>" + e.row.cells[4].innerHTML + "</div><br class='clear' /></div><br class='clear' />";
            text += "<div class='editor-label grid_15'><label>Status</label></div><br class='clear' /><div class='editor-field grid_15 row'>" + e.row.cells[5].innerHTML + "</div><br class='clear' />";
            text += "<div class='editor-label grid_15'><label>Topik</label></div><br class='clear' /><div class='editor-field grid_15 row'>" + e.row.cells[6].innerHTML + "</div><br class='clear' />";
             //text += "<tr><td class='label'>Nama</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[2].innerHTML + "</td></tr>";
            //text += "<tr><td class='label'>Email</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[3].innerHTML + "</td></tr>";
            //text += "<tr><td class='label'>Telepon</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[4].innerHTML + "</td></tr>";
            //text += "<tr><td class='label'>Status</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[5].innerHTML + "</td></tr>";
            //text += "<tr><td class='label'>Topik</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[6].innerHTML + "</td></tr>";
            //text += "</table>";
            $(".detail").html(text);
            var windowZ = $("#mahasiswaDetail").data("tWindow");
            windowZ.center().open();
        }
        else if (e.name == "editDetail") {
            $("#idSkripsi").val(e.row.cells[0].innerHTML);
            $("#NPM").val(e.row.cells[1].innerHTML);
            $("#topik").val(e.row.cells[6].innerHTML);
            var windowZ = $("#mahasiswaUpdate").data("tWindow");
            windowZ.center().open();
        }
    }

</script>
<div class="layer">
    <h1>
        Mahasiswa</h1>
    <script type="text/javascript">
        $("#insert-1").click(function () {
            var values = {
                NPM: $("#mahasiswa-npm-1").val(),
                idTopik: $("#mahsiswa-topik-1").val()
            };
            $.post("PendaftaranDosen/_InsertMahasiswa1", values, function (data) {
                alert(data);
            });
            $('#content').load('PendaftaranDosen/RegistrasiMahasiswa');
        })
    </script>
    <fieldset>
        <legend>Registrasi Mahasiswa</legend>
        <div class="editor-label grid_15">
            <label>
                NPM Mahasiswa</label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <input id="mahasiswa-npm-1" name="npm-1" class="grid_5" type="text" />
        </div>
        <br class="clear" />
        <div class="editor-label grid_15">
            <label>
                Topik</label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <select id="mahsiswa-topik-1" name="topik-1" class="grid_10" size="5">
                <option></option>
            </select>
        </div>
        <br class="clear" />
        <div class="button-block grid_15">
            <input type="button" id="insert-1" value="Register" class="t-button t-state-default" /></div>
    </fieldset>
    <!--<div style="width: 49%; float: right;">
        <fieldset>
            <legend>Registrasi Mahasiswa</legend>
            <div class="editor-label">
                NPM
            </div>            
            <div class="editor-field">
                <select id="mahsiswa-npm-2" name="npm-2" class="t-input" style="width: 90%;">
                    <option></option>
                </select>
                <br />
            </div>
            <div class="editor-field">
                <input type="radio" checked="checked" name="mahasiswa-tipe" /> skripsi 2
                <input type="radio" name="mahasiswa-tipe" /> ulang skripsi 1
                <input type="radio" name="mahasiswa-tipe" /> ulang skripsi 2
            </div>
            <br />
            <input type="button" id="insert-2" value="Register" class="t-button t-state-default" />
        </fieldset>
    </div>-->
    @{ 
        GridEditMode mode = GridEditMode.InLine;
        GridButtonType type = GridButtonType.Text;    
    }
    @(Html.Telerik().Grid<Proyek_Informatika.Models.MahasiswaContainer>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("Mahasiswa")
        .DataKeys(keys =>
        {
            keys.Add(k => k.idSkripsi);
        })
        .DataBinding(dataBinding => dataBinding.Ajax()
            .Select("_SelectMahasiswa", "PendaftaranDosen")
            .Delete("_DeleteMahasiswa", "PendaftaranDosen"))
        .Columns(columns =>
        {
            columns.Bound(c => c.idSkripsi).Hidden();
            columns.Bound(c => c.NPM).Width(100).Title("NPM");
            columns.Bound(c => c.namaMahasiswa).Width(125).Title("Nama");
            columns.Bound(c => c.emailMahasiswa).Hidden();
            columns.Bound(c => c.teleponMahasiswa).Hidden();
            columns.Bound(c => c.status).Hidden();
            columns.Bound(c => c.topik).Width(300).Title("Topik");
            columns.Bound(c => c.fotoMahasiswa).Hidden();
            columns.Command(c => 
            {    
                c.Custom("lihatDetail").Text("Detail").Ajax(true);
                c.Custom("editDetail").Text("Edit").Ajax(true);            
                c.Delete().ButtonType(type);
            }).Width(300);
        })
        .ClientEvents(ev => ev.OnCommand("onCommand").OnComplete("onCommand"))
        .Editable(editing => editing.Mode(mode))
        .Pageable(p => p.PageSize(20))
        .Scrollable(c => c.Enabled(true).Height(600))
        .Sortable()
        .Filterable()
        .Selectable()
        .Groupable()
    )
    @(Html.Telerik().Window()
        .Name("mahasiswaDetail")
        .Title("Mahasiswa")
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(350)
        .Scrollable(true)
        .Content(@<text>
    <p class="detail">
    </p></text>)
    )
    @(Html.Telerik().Window()
        .Name("mahasiswaUpdate")
        .Title("Edit")
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(200)
        .Scrollable(true)
        .LoadContentFrom("MahasiswaUpdate", "PendaftaranDosen")
    )
    @section HeadContent {
        <style type="text/css">
    /*--------------------validators--------------------*/
    .field-validation-error
    {
        position: absolute;
        display: block;
    }
    
    * html .field-validation-error { position: relative; }
    *+html .field-validation-error { position: relative; }    
    .field-validation-error span
    {
        position: absolute;
        white-space: nowrap;
        color: red;
        padding: 17px 5px 3px;
        background: transparent url('@Url.Content("~/Content/Common/validation-error-message.png") ') no-repeat 0 0;
    }
    
    /*--------------------in-form editing--------------------*/
    .t-edit-form-container
    {
        width: 350px;
        margin: 1em;
    }    
    .t-edit-form-container .editor-label,
    .t-edit-form-container .editor-field
    {
        padding-bottom: 1em;
        float: left;
    }    
    .t-edit-form-container .editor-label
    {
        width: 30%;
        text-align: right;
        padding-right: 3%;
        clear: left;
    }    
    .t-edit-form-container .editor-field
    {
        width: 60%;
    }
</style>
    }
</div>
