<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {

        $.post("Query/GetPeriodeSemester", "", function (data) {
            var get = "";
            $.each(data, function (index, value) {
                get += "<option value='" + value.id + "'>" + value.periode + "</option>";
            });
            $("#selSemester").html(get);
        });

        $("#selSemester").bind("change", function () {
            $.post("SidangKoordinator/Jadwal_Lihat_Kalender", { periode: $("#selSemester").val(), tipe: $("#tipeSidang").val() }, function (data) {
                $("#jadwal").html(data);
            });
        });

        $("#tipeSidang").bind("change", function () {
            $.post("SidangKoordinator/Jadwal_Lihat_Kalender", { periode: $("#selSemester").val(), tipe: $("#tipeSidang").val() }, function (data) {
                $("#jadwal").html(data);
            });
        });

        $.post("Query/GetCurrentSemester", "", function (data) {
            $("#selSemester").val(data);
            $.post("SidangKoordinator/Jadwal_Lihat_Kalender", { periode: $("#selSemester").val(), tipe: $("#tipeSidang").val() }, function (data) {
                $("#jadwal").html(data);
            });
        });
    });
</script>
<div class="layer">
    <h1>
        Lihat Jadwal Sidang</h1>
    <!---------------------------------------->
    <div class="editor-label grid_15">
        <label>
            Periode Semester
        </label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        <select id="selSemester" class="grid_6">
            <option></option>
        </select>
    </div>
    <br class="clear" />
    <!---------------------------------------->
    <div class="editor-label grid_15">
        <label>
            Tipe Sidang
        </label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        <select id="tipeSidang" class="grid_6">
            <option>Presentasi</option>
            <option>Akhir</option>
        </select>
    </div>
    <br class="clear" />
    <!---------------------------------------->
    <div id="jadwal">
    </div>
</div>
