<div class="layer">
    <h1>Pengaturan Jadwal Sidang</h1>
    
    <div style="overflow:hidden;margin-top:10px;">
        @{ Html.Telerik().TabStrip()
            .Name("TabStrip")
            .SelectedIndex(0)
            .Items(item =>
            {
                item.Add().Text("Skripsi 1")
                .LoadContentFrom("Jadwal_Penempatan1", "SidangKoordinator");
                item.Add().Text("Skripsi 2")
                .LoadContentFrom("Jadwal_Penempatan2", "SidangKoordinator");
                item.Add().Text("Pengaturan Umum")
                .LoadContentFrom("Jadwal_Pengaturan", "SidangKoordinator"); ;
            })
            .Render(); 
        }
        
    </div>
</div>

