<script>
    var arr = new Array();

    $("#buttonSimpan").click(function () {
        //validasi trus simpan jadwal
        var radio = document.getElementsByName("modeJadwal");
        if ($("#radio_1").is(":checked")) {
            var values = {
                npm: $("#npm-label").html(),
                tanggal: $("#waktuManual").val(),
                ruang: $("#ruangManual").val(),
                penguji1: $("#penguji1Manual").val(),
                penguji2: $("#penguji2Manual").val()
            };
            $.post("SidangKoordinator/SimpanJadwal", values, function (data) {
                if (data == "True") {
                    alert("Data berhasil diubah.");
                } else {
                    alert("Data tidak berhasil diubah.");
                }
            });
        } else {
            var waktu = $("#selWaktu").val().toString().substring(0, $("#selWaktu").val().toString().length - 3);
            var values = {
                npm: $("#npm-label").html(),
                tanggal: $("#selTanggal").val() + " " + waktu,
                ruang: $("#selRuang").val(),
                penguji1: $("#selPenguji").val(),
                penguji2: $("#selPenguji2").val()
            };
            $.post("SidangKoordinator/SimpanJadwal", values, function (data) {
                if (data == "True") {
                    alert("Data berhasil diubah.");
                } else {
                    alert("Data tidak berhasil diubah.");
                }
            });
        }
    });
    function init() {
        $("#radio_1").prop('checked', true);
        changeMode(1);
        $.post("Query/GetDosenList", "", function (data) {
            var get = "";
            $.each(data, function (index, value) {
                if (value.nama != $("#pembimbing-label").html()) {
                    get += "<option value='" + value.NIK + "'>" + value.nama + "</option>";
                }

            });
            $("#selPenguji").html(get);
            $("#penguji1Manual").html(get);
        });

        $.post("Query/GetDosenList", "", function (data) {
            var get = "<option>--</option>";
            $.each(data, function (index, value) {
                if (value.nama != $("#pembimbing-label").html()) {
                    get += "<option value='" + value.NIK + "'>" + value.nama + "</option>";
                }

            });

            $("#penguji2Manual").html(get);
        });

        $.post("SidangKoordinator/GetRuangSidang", "", function (data) {
            var get = "";
            $.each(data, function (index, value) {
                get += "<option value='" + value.id + "'>" + value.nama_ruang + "</option>";
            });
            $("#ruangManual").html(get);
        });

        $.post("SidangKoordinator/GetPopUpDetails", { npm: $("#npm-label").html() }, function (data) {
            if (data.success) {
                $("#penguji1Manual").val(data.penguji1);
                $("#penguji2Manual").val(data.penguji2);
                $("#waktuManual").val(data.tanggal);
                $("#ruangManual").val(data.ruang);
                $("#selPenguji").val(data.penguji1);
                var a = data.tanggal.split(" ");

                $.when(selPengujiChange()).done(function () {
                    alert(a[0]);
                    $("#selTanggal").val(a[0]);
                    alert($("#selTanggal").val());
                    $.when(selTanggalChange()).done(function () {
                        $("#selWaktu").val(a[1]);
                        $.when(selWaktuChange()).done(function () {
                            $("#selRuang").val(data.ruang);
                            $.when(selRuangChange()).done(function () {
                                var penguji2 = data.penguji2 == null ? "--" : data.penguji2;
                                $("#selPenguji2").val(penguji2);
                            });
                        });
                    });

                });
            } else {
                var date = new Date();
                $("#waktuManual").val((date.getDay() + 1) + "/" + (date.getMonth() + 1) + "/" + date.getFullYear() + " 00:00");
                //ruang: $("#ruangManual").val(),

            }
        });
    }
    function selPengujiChange() {
        $("#selTanggal").html("");
        $("#selWaktu").html("");
        $("#selRuang").html("");
        $("#selPenguji2").html("");
        var values = {
            npm: $("#npm-label").html(),
            pembimbing: $("#pembimbing-label").html(),
            penguji: $("#selPenguji").val()
        };
        return $.post("SidangKoordinator/GetTanggalSidangList", values, function (data) {
            var get = "";
            var i = 0;
            var temp = "";
            $.each(data, function (index, value) {
                var a = value.split(" ");
                arr[i] = a;
                i++;
                if (temp != a[0]) {
                    temp = a[0];
                    get += "<option value='" + a[0] + "'>" + a[0] + "</option>";
                }

            });
            $("#selTanggal").html(get);

        });
    }

    function selTanggalChange() {
        $("#selWaktu").html("");
        $("#selRuang").html("");
        $("#selPenguji2").html("");
        var get = "";
        for (var i = 0; i < arr.length; i++) {
            var a = arr[i].toString().split(",");
            if (a[0] == $("#selTanggal").val()) {
                get += "<option value='" + a[1] + "'>" + a[1] + "</option>";
            }
        }
        $("#selWaktu").html(get);
    }

    function selWaktuChange() {
        $("#selRuang").html("");
        $("#selPenguji2").html("");
        
        var waktu = $(selTanggal).val() + " " + $("#selWaktu").val();
        alert(waktu);
        var values = {
            waktu: waktu
        };
        return $.post("SidangKoordinator/GetRuangKosong", values, function (data) {
            var get = "";
            $.each(data, function (index, value) {
                get += "<option value='" + value.id + "'>" + value.nama_ruang + "</option>";
            });
            $("#selRuang").html(get);
        });
    }

    function selRuangChange() {
        $("#selPenguji2").html("");

        var waktu = $(selTanggal).val() + " " + $("#selWaktu").val();
        return $.post("SidangKoordinator/GetPenguji2", { npm: $("#npm-label").html(), waktu: waktu }, function (data) {

            var get = "<option value='--'>--</option>";
            $.each(data, function (index, value) {
                get += "<option value='" + value.NIK + "'>" + value.nama + "</option>";
            });
            $("#selPenguji2").html(get);
        });
    }

    $(document).ready(function () {

        $("#selPenguji").bind("change", function () {
            selPengujiChange();
        });

        $("#selTanggal").bind("change", function () {
            selTanggalChange();
        });

        $("#selWaktu").bind("change", function () {
            selWaktuChange();
        });

        $("#selRuang").bind("change", function () {
            selRuangChange();
        });

    });

    function changeMode(num) {
        if (num == 1) {
            $("#mode1").show();
            $("#mode2").hide();
        } else if (num == 2) {
            $("#mode2").show();
            $("#mode1").hide();
        }
    }
</script>
<div id="popup" class="container_15">
    <div class="grid_4 alpha">
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                NPM
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <span id="npm-label"></span>&nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Nama
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <span id="nama-label"></span>&nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Topik
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <span id="topik-label"></span>&nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Pembimbing
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <span id="pembimbing-label"></span>&nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
    </div>
    <div class="grid_11 omega">
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Mode
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <input type="radio" name="modeJadwal" onclick="changeMode(1)" id="radio_1" checked="checked" />Manual
            <input type="radio" name="modeJadwal" onclick="changeMode(2)" id="radio_2" />Semi-Automatic
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div id="mode1">
            <!---------------------------------------->
            <div class="editor-label grid_15">
                <label>
                    Penguji 1
                </label>
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                <select id="penguji1Manual" class="grid_8">
                </select>
            </div>
            <br class="clear" />
            <!---------------------------------------->
            <div class="editor-label grid_15">
                <label>
                    Penguji 2
                </label>
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                <select id="penguji2Manual" class="grid_8">
                </select>
            </div>
            <br class="clear" />
            <!---------------------------------------->
            <div class="editor-label grid_15">
                <label>
                    Waktu
                </label>
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                @(Html.Telerik().DateTimePicker().Name("waktuManual").Value(DateTime.Now).HtmlAttributes(new { @class = "grid_8", style = "margin-left:0;" }))
            </div>
            <br class="clear" />
            <!---------------------------------------->
            <div class="editor-label grid_15">
                <label>
                    Ruang
                </label>
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                <select id="ruangManual" class="grid_8">
                </select>
            </div>
            <br class="clear" /><div class='warning'>Peringatan : Mode ini tidak melakukan validasi jadwal.</div>

         
            <!---------------------------------------->
        </div>
        <div style="overflow: hidden; display: none;" id="mode2">
            <!---------------------------------------->
            <div class="grid_15">
                <div class="grid_7 alpha">
                    <!---------------------------------------->
                    <div class="editor-label grid_15">
                        <label>
                            Penguji 1
                        </label>
                    </div>
                    <br class="clear" />
                    <div class="editor-field grid_15">
                        <select size="5" id="selPenguji" class="grid_15">
                        </select>
                    </div>
                    <br class="clear" />
                </div>
                <div class="grid_1">
                    &nbsp;
                </div>
                <div class="grid_7 omega">
                    <!---------------------------------------->
                    <div class="editor-label grid_15">
                        <label>
                            Penguji 2
                        </label>
                    </div>
                    <br class="clear" />
                    <div class="editor-field grid_15">
                        <select size="5" id="selPenguji2" class="grid_15">
                        </select>
                    </div>
                    <br class="clear" />
                </div>
            </div>
            <div class="grid_15">
                <div class="grid_5 alpha">
                    <!---------------------------------------->
                    <div class="editor-label grid_15">
                        <label>
                            Tanggal
                        </label>
                    </div>
                    <br class="clear" />
                    <div class="editor-field grid_15">
                        <select size="5" id="selTanggal" class="grid_15">
                        </select>
                    </div>
                    <br class="clear" />
                </div>
                <div class="grid_5">
                    <!---------------------------------------->
                    <div class="editor-label grid_15">
                        <label>
                            Waktu
                        </label>
                    </div>
                    <br class="clear" />
                    <div class="editor-field grid_15">
                        <select size="5" id="selWaktu" class="grid_15">
                        </select>
                    </div>
                    <br class="clear" />
                </div>
                <div class="grid_5 omega">
                    <!---------------------------------------->
                    <div class="editor-label grid_15">
                        <label>
                            Ruang
                        </label>
                    </div>
                    <br class="clear" />
                    <div class="editor-field grid_15">
                        <select size="5" id="selRuang" class="grid_15">
                        </select>
                    </div>
                    <br class="clear" />
                </div>
            </div>
        </div>
    </div>
    <br class="clear" />
    <!---------------------------------------->
    <div class="button-block grid_15 txtcenter">
        <input type="button" value="Simpan" id="buttonSimpan" class="t-button t-state-default" />
    </div>
</div>
