@{
    ViewBag.Title = "Kalendar";
}
<div class="layer">
<h1>Lihat Jadwal Sidang</h1>
    <span>Periode Semester :</span>
    <select>
        <option></option>
    </select>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.sidang>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("LihatJadwalSidang")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectJadwalSidang", "SidangKoordinator");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.skripsi.mahasiswa).Width(150).Title("NPM");
            columns.Bound(o => o.skripsi.mahasiswa).Width(150).Title("Mahasiswa");
            columns.Bound(o => o.tanggal).Width(150).Title("Tanggal & Waktu");
            columns.Bound(o => o.ruang).Width(150).Title("Ruang");
            columns.Bound(o => o.ruang).Width(150).Title("Pembimbing");
            columns.Bound(o => o.ruang).Width(150).Title("Penguji");
            

        })
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
</div>

