
<script src="../../../Scripts/schedular/dhtmlxscheduler.js" type="text/javascript"></script>
<script src="../../../Scripts/schedular/ext/dhtmlxscheduler_grid_view.js" type="text/javascript"></script>
<link href="../../../Scripts/schedular/dhtmlxscheduler_glossy.css" rel="stylesheet" type="text/css" />
	
<script type="text/javascript" charset="utf-8">
    function init() {
        scheduler.config.xml_date = "%Y-%m-%d %H:%i";

        scheduler.createGridView({
            fields: [
                { id: "id" },
                { id: "text" },
                { id: "date" }
            ],
            from:new Date(2009, 03, 10),
            to:new Date(2009, 05,23)
        });
        scheduler.locale.labels.grid_tab = "MinInit";
        scheduler.init('scheduler_here', new Date(), "week");
    }
    $(document).ready(function () {

        init();
        $.post("SidangKoordinator/GetPeriodeSemester", "", function (data) {
            var get = "";
            $.each(data, function (index, value) {
                get += "<option value='" + value.periode + "'>" + value.periode + "</option>";
            });
            $("#selSemester").html(get);
        });
        $("#selSemester").bind("change", function () {
            //ngapain
        });
    });
</script>

<div class="layer">
    <h1>Pengaturan Jadwal Sidang</h1>
    <span>Periode Semester :</span>
    <select id="selSemester">
        <option></option>
    </select>
    <div style="overflow:hidden;">
	<div id="scheduler_here" class="dhx_cal_container" style='padding-top=10px; height:500px;'>
	<div class="dhx_cal_navline">
		<div class="dhx_cal_prev_button">&nbsp;</div>
		<div class="dhx_cal_next_button">&nbsp;</div>
		<div class="dhx_cal_today_button"></div>
		<div class="dhx_cal_date"></div>
		<div class="dhx_cal_tab dhx_cal_tab_first" name="day_tab" style="right:14px;"></div>
		<div class="dhx_cal_tab" name="week_tab" style="right:75px;"></div>
        <div class="dhx_cal_tab" name="grid_tab" style="right:300px;"></div>
	</div>
	<div class="dhx_cal_header">
	</div>
	<div class="dhx_cal_data">
    </div>
    </div>
    </div>
</div>

