<script>
    $(document).ready(function () {
        getBobot(1);
        getBobot(2);
        getBobot(3);

        hitungPersentase("pembimbing");
        hitungPersentase("penguji");
    });

    function OnCompletePembimbing() {
        hitungPersentase("pembimbing");
    }

    function OnCompletePenguji() {
        hitungPersentase("penguji");
    }

    function getBobot(pemberiNilai) {
        var tipe;
        if (pemberiNilai == 1) {
            tipe = "pembimbing";
        } else if (pemberiNilai == 2) {
            tipe = "penguji1";
        } else if (pemberiNilai == 3) {
            tipe = "penguji2";
        }
        $.post("SidangKoordinator/GetBobot", { tipe: tipe, jenis_skripsi_id: 2 }, function (data) {
            $("#textBobot" + pemberiNilai).val(data);
            $("#labelBobot" + pemberiNilai).html(data);
            hitungTotal();
        });
    }
    function hitungPersentase(pemberiNilai) {
        $.post("SidangKoordinator/HitungPersentase", { pemberiNilai: pemberiNilai, skripsi: 2 }, function (data) {
            if (data > 100) {
                alert("Persentase Bobot tidak boleh melebihi 100 %");
            }
            if (pemberiNilai == "pembimbing") {
                $("#totalBobotPembimbing").html(data + " %");
            } else if (pemberiNilai == "penguji") {
                $("#totalBobotPenguji").html(data + " %");
            }
        });
    }

    function turnEditing(pemberiNilai) {
        if ($("#save" + pemberiNilai).val() == "Ubah") {
            $("#textBobot" + pemberiNilai).show();
            $("#labelBobot" + pemberiNilai).hide();
            $("#save" + pemberiNilai).val("Simpan");
        } else if ($("#save" + pemberiNilai).val() == "Simpan") {
            debugger;
            $("#textBobot" + pemberiNilai).hide();
            $("#labelBobot" + pemberiNilai).show();
            $("#save" + pemberiNilai).val("Ubah");
            var tipe;
            if (pemberiNilai == 1) {
                tipe = "pembimbing";
            } else if (pemberiNilai == 2) {
                tipe = "penguji1";
            } else if (pemberiNilai == 3) {
                tipe = "penguji2";
            }
            var values = {
                tipe: "general",
                kategori: tipe,
                bobot: $("#textBobot" + pemberiNilai).val(),
                jenis_skripsi_id: 2
            };
            $.post("SidangKoordinator/SimpanBobotGeneral", values, function (data) {
                if (data == "True") {
                    $("#labelBobot" + pemberiNilai).html($("#textBobot" + pemberiNilai).val());
                } else {
                    $("#textBobot" + pemberiNilai).val($("#labelBobot" + pemberiNilai).html());
                }
            });
            hitungTotal();
        }
    }

    function hitungTotal() {
        var result = parseInt($("#textBobot1").val()) + parseInt($("#textBobot2").val()) + parseInt($("#textBobot3").val());
        $("#totalBobot").html(result);
        if (result > 100) {
            alert("Komposisi Nilai tidak boleh melebihi 100 %");
        }
    }
</script>
<h2>
    Komposisi Nilai</h2>
<div class="container_15">
    <table class="blue" style="width: 50%;">
        <tr class="th">
            <td style="width: 40%;">
                Pemberi Nilai
            </td>
            <td style="width: 30%;">
                Bobot (%)
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Pembimbing</label>
            </td>
            <td class="txtcenter">
                <span id="labelBobot1"></span>
                <input type="text" id="textBobot1" style="display: none;" class="grid_14"/>
            </td>
            <td class="txtcenter">
                <input type="button" id="save1" value="Ubah" onclick="turnEditing(1)" style="width: 70px;" class="t-button"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Penguji 1</label>
            </td>
            <td class="txtcenter">
                <span id="labelBobot2"></span>
                <input type="text" id="textBobot2" style="display: none;" class="grid_14"/>
            </td>
            <td class="txtcenter">
                <input type="button" id="save2" value="Ubah" onclick="turnEditing(2)" style="width: 70px;" class="t-button"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Penguji 2</label>
            </td>
            <td class="txtcenter">
                <span id="labelBobot3"></span>
                <input type="text" id="textBobot3" style="display: none;" class="grid_14"/>
            </td>
            <td class="txtcenter">
                <input type="button" id="save3" value="Ubah" onclick="turnEditing(3)" style="width: 70px;" class="t-button"/>
            </td>
        </tr>
        <tr class="tf">
            <td>
                Total
            </td>
            <td id="totalBobot">
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
<h2>
    Kriteria Penilaian</h2>
<div id="editBobot" style="overflow: hidden">
    <div class="half">
        <div class="editor-label grid_15">
            <b>Pembimbing</b><br class="clear" />
            <br />
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(Html.Telerik().Grid<Proyek_Informatika.Models.kategori_nilai>()
                    //.HtmlAttributes(new { style = "width:50%;" })
                .Name("KategoriPembimbing")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ClientEvents(
            events => events
                .OnComplete("OnCompletePembimbing")
        )
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Text).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 })
                .Insert("_InsertBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 })
                .Update("_SaveBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 })
                .Delete("_DeleteBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 });
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.urutan).Title("Urutan");
            columns.Bound(o => o.kategori).Title("Kategori");
            columns.Bound(o => o.bobot).Title("Bobot (%)");
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(100).Title("Commands");
        })
        .Pageable()
        .Scrollable()
        .Sortable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
    )</div>
        <br class="clear" />
        <br />
        <div class="editor-label grid_15">
            <label class="left">
                Persentase Bobot &nbsp;</label>
            <span id="totalBobotPembimbing"></span>
        </div>
        <br class="clear" />
    </div>
    <div class="half">
        <div class="editor-label grid_15">
            <b>Penguji</b><br class="clear" />
            <br />
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(Html.Telerik().Grid<Proyek_Informatika.Models.kategori_nilai>()
                    //.HtmlAttributes(new { style = "width:450px" })
            .Name("KategoriPenguji")
            .DataKeys(keys =>
            {
                keys.Add(p => p.id);
            })
            .ClientEvents(
                events => events
                    .OnComplete("OnCompletePenguji")
            )
            .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Text).ImageHtmlAttributes(new { style = "margin-left:0" }))
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 })
                    .Insert("_InsertBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 })
                    .Update("_SaveBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 })
                    .Delete("_DeleteBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 });
            })
            .Columns(columns =>
            {
                columns.Bound(o => o.urutan).Title("Urutan");
                columns.Bound(o => o.kategori).Title("Kategori");
                columns.Bound(o => o.bobot).Title("Bobot (%)");
                columns.Command(commands =>
                {
                    commands.Edit().ButtonType(GridButtonType.Image);
                    commands.Delete().ButtonType(GridButtonType.Image);
                }).Width(100).Title("Commands");
            })
            .Pageable()
            .Scrollable()
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.InLine))
        )
        </div>
        <br class="clear" />
        <br />
        <div class="editor-label grid_15">
            <label class="left">
                Persentase Bobot &nbsp;</label>
            <span id="totalBobotPenguji"></span>
        </div>
        <br class="clear" />
    </div>
    <br class="clear" />
    <br />
</div>
