@{
    ViewBag.Title = "Pengaturan Sidang";
    
}
<div class="layer">
    <h1>
        Pengaturan Sidang</h1>
    @{ Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(tabstrip =>
        {
            tabstrip.Add()
                .Text("Skripsi 1")
                .LoadContentFrom("Sidang_Bobot1", "SidangKoordinator");
            tabstrip.Add()
                .Text("Skripsi 2")
                .LoadContentFrom("Sidang_Bobot2", "SidangKoordinator");
            tabstrip.Add()
                .Text("Ruang Sidang")
                .Content(@<text>
        <div id="ruangDiv">
            <h2>
                Ruang Sidang</h2>
            @(Html.Telerik().Grid<Proyek_Informatika.Models.ruang>()
                            .HtmlAttributes(new { style = "width:50%;" })
                            .Name("Ruang")
                            .DataKeys(keys =>
                            {
                                keys.Add(p => p.id);
                            })
                            .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Text).ImageHtmlAttributes(new { style = "margin-left:0" }))
                            .DataBinding(dataBinding =>
                            {
                                dataBinding.Ajax()
                                    .Select("_SelectRuang", "SidangKoordinator")
                                    .Insert("_InsertRuang", "SidangKoordinator")
                                    .Update("_SaveRuang", "SidangKoordinator")
                                    .Delete("_DeleteRuang", "SidangKoordinator");
                            })
                            .Columns(columns =>
                            {
                                columns.Bound(o => o.nama_ruang).Title("Ruang").Width(200);
                                columns.Command(commands =>
                                {
                                    commands.Edit().ButtonType(GridButtonType.Text);
                                    commands.Delete().ButtonType(GridButtonType.Text);
                                }).Width(180).Title("");
                            })
                            .Pageable()
                            .Scrollable()
                            .Sortable()
                            .Editable(editing => editing.Mode(GridEditMode.InLine))
                        )
        </div>
        </text>);
        })
        .SelectedIndex(0)
        .Render();
    }
</div>
