    <script type="text/javascript">
        function actionButton(e) {
            if (e.name == "viewFile") {
                var detailWindow = $("#PreviewDoc").data("tWindow");
                detailWindow.center().open();
            }
            else if (e.name == "downFile") {
                alert("Download File...");
            }


        }
</script>
<div class="layer">
    <h1>Rekap Pengumpulan File</h1>
@(Html.Telerik().Grid<Proyek_Informatika.Models.KoordinatorPengumpulanFile>()
        .Name("tabKoorFile")
        .Columns(col =>
        {
            col.Bound(o => o.id).Width(75);
            col.Bound(o => o.npmMahasiswa).Width(150);
            col.Bound(o => o.namaMahasiswa).Width(150);
            col.Bound(o => o.waktuKumpul).Width(150);
            col.Bound(o => o.judul).Width(200);
            col.Command(com => com.Custom("viewFile")
                .Text("Lihat File")
                .Ajax(true)).Width(100);
            col.Command(com => com.Custom("downFile")
                .Text("Unduh File")
                .Ajax(true)).Width(100);
        })
            .ClientEvents(events => events.OnCommand("actionButton"))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("_SelectPengumpulanFile", "PengumpulanKoordinator"))
                    .Pageable()
                    .Sortable()
                    .Filterable()
                    .Scrollable(c => c.Enabled(true))
        
)

<div id="tool_pengumpulanfile">


   
@(Html.Telerik().Window()
                .Name("PreviewDoc")
                .Visible(false)
                .Title("Preview Document")
                .Modal(true)
                .Width(600)
                .Height(800)
                .Scrollable(true)
                .LoadContentFrom("PreviewDocument","PengumpulanKoordinator"))
</div>
</div>