@{
    ViewBag.Title = "Biodata";
}
<script type="text/javascript">
    function editInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "none";
        document.getElementById("editInLine" + id + "b").style.display = "none";
        document.getElementById("viewInLine" + id + "a").style.display = "inline";
        document.getElementById("viewInLine" + id + "b").style.display = "inline";
    }
    function viewInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "inline";
        document.getElementById("editInLine" + id + "b").style.display = "inline";
        document.getElementById("viewInLine" + id + "a").style.display = "none";
        document.getElementById("viewInLine" + id + "b").style.display = "none";
    }
</script>
<div class="layer">
    <h1>
        Biodata</h1>
    <table class="profile">
        <tr>
            <td rowspan="4" style="width: 130px">
                <img src="../../../Content/images/user.png" class="avatar">
                @(Html.Telerik().Upload()
        .Name("attachments")
        .Multiple(false)
        .Async(async => async
            .Save("Save", "Upload")
            .Remove("Remove", "Upload")
            .AutoUpload(true)
        )
)
            </td>
            <td style="width: 75px; height: 30px;">
                Nama
            </td>
            <td style="width: 20px">
                :
            </td>
            <td style="width: 250px">
                <span id="editInLine1a">Vicky</span>
                <input type="text" style="width: 200px; display: none;" id="viewInLine1a" value="Vicky" />
            </td>
            <td style="width: 100px;">
                <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(1)" id="editInLine1b">
                    <span class="t-icon t-edit"></span></a><span id="viewInLine1b" style="display: none;">
                        <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(1)"><span class="t-icon t-update">
                        </span></a>&nbsp<a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(1)"><span
                            class="t-icon t-cancel"> </span></a></span>
            </td>
        </tr>
        <tr>
            <td style="height: 26px; height: 30px;">
                NPM
            </td>
            <td>
                :
            </td>
            <td>
                200873413
            </td>
            <td style="width: 80px">
            </td>
        </tr>
        <tr>
            <td style="height: 30px;">
                Email
            </td>
            <td>
                :
            </td>
            <td>
                <span id="editInLine2a">intelek@yahoo.co.id</span>
                <input type="text" style="width: 200px; display: none;" id="viewInLine2a" value="intelek@yahoo.co.id" />
            </td>
            <td>
                <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(2)" id="editInLine2b">
                    <span class="t-icon t-edit"></span></a><span id="viewInLine2b" style="display: none;">
                        <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(2)"><span class="t-icon t-update">
                        </span></a>&nbsp<a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(2)"><span
                            class="t-icon t-cancel"> </span></a></span>
            </td>
            <tr>
                <td style="height: 30px;">
                    Telepon
                </td>
                <td>
                    :
                </td>
                <td>
                    <span id="editInLine3a">0811234567</span>
                    <input type="text" style="width: 200px; display: none;" id="viewInLine3a" value="0811234567" />
                </td>
                <td>
                    <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(3)" id="editInLine3b">
                        <span class="t-icon t-edit"></span></a><span id="viewInLine3b" style="display: none;">
                            <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(3)"><span class="t-icon t-update">
                            </span></a>&nbsp<a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(3)"><span
                                class="t-icon t-cancel"> </span></a></span>
                </td>
            </tr>
    </table>
</div>
