@{
    ViewBag.Title = "Sejarah";
}
<div class="layer">
    <h1>
        Sejarah</h1>

    @(Html.Telerik().Grid<Proyek_Informatika.Models.SejarahMahasiswaContainer>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("Sejarah")
        .DataKeys(keys =>
        {
            keys.Add(k => k.periode);
        })
        .DataBinding(dataBinding => dataBinding.Ajax()
            .Select("_SelectSejarah", "Profile"))
        .Columns(columns =>
        {
            columns.Bound(c => c.periode).Width(100).Title("Periode");
            columns.Bound(c => c.jenis).Width(100).Title("Mata Kuliah");
            columns.Bound(c => c.topik).Width(100).Title("Topik");
            columns.Bound(c => c.pembimbing).Width(100).Title("Pembimbing");
            columns.Bound(c => c.nilai).Width(100).Title("Nilai Akhir");
        })
        .Pageable(p => p.PageSize(10))
        .Scrollable(c => c.Enabled(true).Height(300))
        .Sortable()
        .Filterable()
        .Selectable()
        .Groupable()
    )
</div>
