@{
    ViewBag.Title = "Sejarah";
}
<div class="layer">
    <h1>
        Sejarah</h1>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.SejarahMahasiswa>()
        .HtmlAttributes(new { style = "width:100%;" })
        .Name("Sejarah")
        .DataKeys(keys =>
        {
            keys.Add(p => p.no);
        })

            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectSejarahMahasiswa", "Profile");
            })
        .Columns(columns =>
        {
            columns.Bound(o => o.no).Width(20).Title("No.");
            columns.Bound(o => o.MataKuliah).Width(80).Title("Mata Kuliah");
            columns.Bound(o => o.Tahun).Width(100).Title("Tahun");
            columns.Bound(o => o.Semester).Width(100).Title("Semester");
            columns.Bound(o => o.Topik).Width(400).Title("Topik");
            columns.Bound(o => o.Pembimbing).Width(150).Title("Nama Pembimbing");
            columns.Bound(o => o.Keterangan).Width(100).Title("Keterangan");

        })
            //.ClientEvents(
            //    events => events
            //        .OnComplete("OnComplete") --> popup window
            //)
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
            //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(false))
        .Selectable()
        .Groupable()
)
</div>
