<script type = "text/javascript">
    function detilBimbingan(e) {
        if (e.name == "detBahasan") {
            var windowZ = $("#detBimbingan").data("tWindow");
            windowZ.center().open();
        }
    }
</script>
<div class="layer">
    <h1>Kartu Bimbingan</h1>

<div id="listJadwal">
@(Html.Telerik().Grid<Proyek_Informatika.Models.MahasiswaKartuBimbingan>()
        .HtmlAttributes(new { style = "width:900px" })
        .Name("Topik")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })    
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectKartuBimbingan", "Bimbingan");
            })
            
        
        .Columns(columns =>
        {
            columns.Bound(o => o.tanggal).Width(150).Title("Tanggal");
            columns.Bound(o => o.namaDosen).Width(150).Title("Dosen");
            columns.Bound(o => o.bahasan).Width(150).Title("Pokok Bahasan");
            columns.Command(o =>o.Custom("detBahasan").Text("Lihat Detil Bahasan").Ajax(true)).Width(100).Title("Detil Bahasan");
        })
        //.ClientEvents(
        //    events => events
        //        .OnComplete("OnComplete") --> popup window
        //)
        .ClientEvents(ev => ev.OnCommand("detilBimbingan"))
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
</div>

@(Html.Telerik().Window()
                .Name("detBimbingan")
                .Visible(false)
                .Title("Detil Bimbingan")
                .Modal(true)
                .Width(500)
                .Height(500)
                .Scrollable(true)
                .LoadContentFrom("DetilBimbingan","Bimbingan"))

</div>