<script type = "text/javascript">
    function detilBimbingan(e) {
        if (e.name == "detBahasan") {
            var windowZ = $("#detBimbingan").data("tWindow");
            windowZ.center().open();
        }
    }
</script>
<div class="layer">
    <h1>Kartu Bimbingan</h1>

<div id="listJadwal">
@(Html.Telerik().Grid<Proyek_Informatika.Models.bimbingan>()
        .HtmlAttributes(new { style = "width:900px" })
        .Name("Topik")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })

        .Columns(columns =>
        {
            columns.Bound(o => o.tanggal).Width(150).Title("Tanggal");
            columns.Bound(o => o.isi).Width(150).Title("Topik Bimbingan");
            columns.Command(com =>
            {
                com.Edit().ButtonType(GridButtonType.Image);
                //com.Custom("detil").Ajax(true).Text("Deskripsi");
            })
                .Title("Aksi").Width(90);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax().Select("_SelectKartuBimbingan", "Bimbingan");
            dataBinding.Ajax().Update("EditBimbingan", "Bimbingan");
        })
        .DetailView(det => det.ClientTemplate(
                "<fieldset>" +
                         "<legend>Detil Bahasan</legend>" +
                             "<div class = 'deskripsi'><#= deskripsi #>" +
                             "</div>" +
                     "</fieldset>"
            ))
        //.ClientEvents(ev => ev.OnCommand("detilBimbingan"))
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
            .Editable(editing => { 
                editing.Mode(GridEditMode.PopUp);
            })
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
</div>

@(Html.Telerik().Window()
                .Name("detBimbingan")
                .Visible(false)
                .Title("Detil Bimbingan")
                .Modal(true)
                .Width(500)
                .Height(500)
                .Scrollable(true)
                .LoadContentFrom("DetilBimbingan","Bimbingan"))

</div>