@{
    ViewBag.Title = "Index";
}
<div class="layer">
    <h1>Pemesanan Jadwal</h1>
    @( Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(parent => {
            parent.Add()
                .Text("Pemesanan")
                .LoadContentFrom("PemesananKalender", "Bimbingan")
                .Selected(true);
            parent.Add()
                .Text("Lihat Status Pesanan")
                .LoadContentFrom("PemesananSummary", "Bimbingan");
        })
    )
</div>