/* Helper Class
----------------------------------------------------------------------------------------------------*/

.warning,.red
{
    color: #c0392b;
}

.green
{
    color: #27ae60;
}

/* General 
----------------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    color: #2B4A63;
}

a
{
    color: #d35400;
}


/* Layout
----------------------------------------------------------------------------------------------------*/
#header, #footer
{
    background-color: #042E50;
    color: white;
    border: 1px solid rgba(104,140,175,1);
}

#header h1
{
    color: white;
    text-shadow: 0 0 5px black,0 0 15px gray,0 0 30px white;
}

#title div
{
    color: rgba(221,232,245,1);
}

#logindisplay
{
    color: white;
}

#logindisplay a
{
    color: #ffdf84;
}

#logindisplay a:hover
{
    color: #fff4cc;
}

#content
{
    background-color: rgba(24,92,148,0.6);
    color: #2c3e50;
}

.layer
{
    background-color: rgba(255,255,255,0.85);
}




