.button_delete_jadwal
{
    width:15px;
    height:15px;
}

.table_semester td
{
    padding:5px;
}

#background
{
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:-1000;
}

#page
{
    position: relative; 
    width: 992px; 
    margin: 5px auto; 
    padding: 0; 
}

#header, #footer
{
    padding: 5px 20px 5px 20px;
}
#title div
{
    margin: -20px auto 15px auto;
}
#logindisplay
{
    position: absolute;
    top: 10px;
    right: 10px;
}

#content
{
    padding: 3%;
    min-height: 375px;
    overflow: auto;
}

.layer
{
    border-radius: 20px;
    padding: 20px 2.5% 20px 2.5%;
    width: 96%;
    overflow:auto;
}

#pengumuman
{
    float: left;
    width: 64%;
}

#filesharing
{
    float: right;
    width: 23%;
}

#filesharing a
{
    display: block;
}

.button, .input
{
    border-radius: 5px;
    padding: 5px;
}
ul
{
    padding: 5px;
}

.avatar
{
    width: 120px;
    height: 120px;
}

.profile td
{
    vertical-align: top;
}

.icon
{
    width: 48px;
    height: 48px;    
}

.icon:hover
{
    width:44px;
    height:44px;
    padding:2px;    
}

.span
{
    display:inline;
}
