
/* Helper Class
----------------------------------------------------------------------------------------------------*/
.span
{
    display: inline;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.wide
{
    width: 100%;
}

.half
{
    width: 49%;
    margin: 0 0 0 1%;
    float: left;
}

/* General 
----------------------------------------------------------------------------------------------------*/
body, div, span
{
    margin: 0;
    padding: 0;
}

fieldset
{
    margin: 20px 0;
    padding: 20px;
}

ul
{
    padding: 5px;
}

.editor-field
{
    /*margin: 0 0 10px 0;*/
}

.button-block
{
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
}

.window-content
{
    width: 100%;
}

.window-content tr td
{
    vertical-align: top;
    height: 30px;
    padding: 0 2.5px 12px 2.5px;
}
.blue tr td
{
    padding: 0 5px;
    height: 35px;
}

.editor-field
{
    margin-bottom: 15px;
}
/* Layout
----------------------------------------------------------------------------------------------------*/

#background
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
}

#page
{
    position: relative;
    width: 992px;
    margin: 5px auto;
    padding: 0;
}

#header, #footer
{
    padding: 5px 20px 5px 20px;
}

#title div
{
    margin: -20px auto 15px auto;
}

#logindisplay
{
    position: absolute;
    top: 10px;
    right: 10px;
}

#content
{
    padding: 3%;
    min-height: 375px;
    overflow: auto;
}

.layer
{
    border-radius: 20px;
    padding: 20px 2.5%;
    width: 95%;
    overflow: auto;
}

div.t-window-content.t-content
{
    padding: 20px;
}

div#filesharing, div#pengumuman-front
{
    padding: 20px !important;
}

fieldset.detail
{
    margin: 0 0 20px 0;
    padding: 10px;
}

.biodata .row
{
    height: 26px;
}
/* Specific 
----------------------------------------------------------------------------------------------------*/

.button_delete_jadwal
{
    width: 15px;
    height: 15px;
}

.blokpengumuman .tanggal
{
    margin: 0 0 20px 0;
}
.blokpengumuman .penulis
{
    margin: 20px 0 0 0;
}
a#file
{
    display: block;
    padding: 5px 0;
}

.avatar
{
    width: 200px;
    height: 200px;
}

.avatar-s
{
    width: 150px;
    height: 150px;
}

.profile td
{
    vertical-align: top; /*height: 20px;*/
}

.icon
{
    width: 48px;
    height: 48px;
}

.icon:hover
{
    width: 44px;
    height: 44px;
    padding: 2px;
}


/* #Forms
================================================== */

form
{
    margin-bottom: 20px;
}

fieldset
{
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select
{
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue" , "Helvetica Neue" , Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #777;
    margin: 0;
    /*display: block; margin-bottom: 20px;*/
    background: #fff;
}

select
{
    padding: 0;
    line-height: 30px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus
{
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

textarea
{
    min-height: 60px;
}

.editor-label label, legend
{
    display: block;
    font-size: 12px;
}

input[type="checkbox"]
{
    display: inline;
}

label span, legend span
{
    font-weight: normal;
    font-size: 12px;
    color: #444;
}

label
{
    font-weight: bold;
}
textarea, select
{
    margin-left: 0 !important;
}

div.t-widget.t-tabstrip.t-header
{
    background: transparent;
    border: none;
}

div.t-widget.t-datepicker
{
    margin: 0;
}

   