<h1>Daftar Nilai</h1>
							Pilih periode:
				<select>
					<optgroup label="2012/2013">
						<option>Ganjil</option>
						<option>Genap</option>
					</optgroup>
					<optgroup label="2011/2012">
						<option>Ganjil</option>
						<option>Genap</option>
					</optgroup>
					<optgroup label="2010/2011">
						<option>Ganjil</option>
						<option>Genap</option>
					</optgroup>
				</select>
			<br><br>
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">Skripsi I</a></li>
					<li><a href="#tabs-2">Skripsi II</a></li>
				</ul>
				<div id="tabs-1">
					<table border="1">
						<tr>
							<th>Nama</th>
							<th>NPM</th>
							<th>Topik</th>
							<th>Kontrak kerja</th>
							<th>Laporan I</th>
							<th>Laporan II</th>
							<th>AA</th>
							<th>NA</th>
						</tr>
						<tr>
							<td>Anggun</td>
							<td>201573001</td>
							<td>Perancangan SI...</td>
							<td>85</td>
							<td>78</td>
							<td>81</td>
							<td>80</td>
							<td>A</td>
						</tr>		
					</table>				
				</div>
				<div id="tabs-2">
					<table border="1">
						<tr>
							<th rowspan="2">Nama</th>
							<th rowspan="2">NPM</th>
							<th colspan="3">Sidang</th>
							<th colspan="3">Sidang Perbaikan</th>	
							<th rowspan="2">AA</th>							
							<th rowspan="2">NA</th>
						</tr>
						<tr>
							<th>Penguji I</th>
							<th>Penguji II</th>
							<th>Pembimbing</th>
							<th>Penguji I</th>
							<th>Penguji II</th>
							<th>Pembimbing</th>
						</tr>
						<tr>
							<td>Mamat</td>
							<td>201473029</td>
							<td>90</td>
							<td>90</td>
							<td>100</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>97</td>
							<td>A</td>
						</tr>	
						<tr>
							<td>ujang</td>
							<td>201473013</td>
							<td>30</td>
							<td>30</td>
							<td>30</td>
							<td>80</td>
							<td>80</td>
							<td>90</td>
							<td>65</td>
							<td>C</td>
						</tr>	
						<tr>
							<td>Vina</td>
							<td>201473043</td>
							<td>70</td>
							<td>75</td>
							<td>81</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>76</td>
							<td>B</td>
						</tr>		
					</table>				
				</div>		
			</div>	