<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    </system.web>

<connectionStrings><add name="SkripsiAutoContainer" connectionString="metadata=res://*/Models.SkripsiAuto.csdl|res://*/Models.SkripsiAuto.ssdl|res://*/Models.SkripsiAuto.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RAY\SQLEXPRESS;Initial Catalog=skripsi_automation;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
