@{
    ViewBag.Title = "Buat Pengumuman";
}
<script>
    $("#insert-pengumuman-kdt").click(function () {
        var temp = 0;
        if ($("#target-pengumuman-kdt-1").is(':checked')) {
            temp += 1;
        }
        if ($("#target-pengumuman-kdt-2").is(':checked')) {
            temp += 2;
        }
        if ($("#target-pengumuman-kdt-3").is(':checked')) {
            temp += 4;
        }
        if ($("#target-pengumuman-kdt-4").is(':checked')) {
            temp += 8;
        }

        if (temp == 0) {
            alert("Pengumuman gagal ditambahkan! Field target harus dipilih!");
        } else {
            var values = {
                isi: $("#pengumuman_kdt").data("tEditor").value(),
                judul: $("#judul-pengumuman-kdt").val(),
                target: temp
            };
            $.post("PengumumanKoordinator/InsertPengumuman", values, function (data) {
                alert(data);
            });
        }
        //$('#content').load('PengumumanKoordinator/Pengumuman');
    })
</script>
<div class="layer">
    <h1>
        Buat Pengumuman</h1>
    Judul :
    <br />
    <input type="text" id="judul-pengumuman-kdt" style="width: 100%"">
    <br>
    <br>
    @{ Html.BeginForm(); }
    @{ Html.Telerik().Editor()
    .Name("pengumuman_kdt")
    .Encode(false)
    .Tools(tools => tools
        .Clear()
        .Bold().Italic().Underline().Strikethrough().Subscript().Superscript().Separator()
        .FontName().FontSize().FontColor().BackColor().Separator()
        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
        .Break()
        .InsertUnorderedList().InsertOrderedList().Separator()
        .Indent().Outdent().Separator()
        .CreateLink().Unlink().Separator()
        .FormatBlock()
    )
    .HtmlAttributes(new { style = "height:350px;width:100%" })
    .Value(@<text></text>)
    .Render();
    }
    <br />Target :
    <br /> 
    <input type="checkbox" id="target-pengumuman-kdt-1">
    Home&nbsp;&nbsp;
    <input type="checkbox" id="target-pengumuman-kdt-2">
    Mahasiswa Skripsi 1&nbsp;&nbsp;
    <input type="checkbox" id="target-pengumuman-kdt-3">
    Mahasiswa Skripsi 2&nbsp;&nbsp;
    <input type="checkbox" id="target-pengumuman-kdt-4">
    Dosen

    <br />
    <br />
    <div class="txtcenter">
        <input type="button" id="insert-pengumuman-kdt" class="t-button t-state-default"
            value="Tambahkan Pengumuman">
    </div>
    @{ Html.EndForm(); }
    @section HeadContent {
        <style type="text/css">
            .editor-output
            {
                font: normal 1em/1.1em "Consolas" , "Monaco" , "Bitstream Vera Sans Mono" , "Courier New" , Courier, monospace;
                border: 1px solid #ccc;
                background: #fff;
                display: block;
                padding: 4px 8px 8px;
            }
        </style>
    }
</div>
