@{
    ViewBag.Title = "Buat Pengumuman";
}
<script type="text/javascript">
    $("#insert-pengumuman-kdt").click(function () {
        var temp = 0;
        if ($("#target-pengumuman-kdt-1").is(':checked')) {
            temp += 1;
        }
        if ($("#target-pengumuman-kdt-2").is(':checked')) {
            temp += 2;
        }
        if ($("#target-pengumuman-kdt-3").is(':checked')) {
            temp += 4;
        }
        if ($("#target-pengumuman-kdt-4").is(':checked')) {
            temp += 8;
        }

        if (temp == 0) {
            alert("Pengumuman gagal ditambahkan! Field target harus dipilih!");
        } else {
            var values = {
                isi: $("#pengumuman_kdt").data("tEditor").value(),
                judul: $("#judul-pengumuman-kdt").val(),
                target: temp
            };
            $.post("PengumumanKoordinator/InsertPengumuman", values, function (data) {
                alert(data);
            });
        }
        //$('#content').load('PengumumanKoordinator/Pengumuman');
    })
</script>
<div class="layer">
    <h1>
        Buat Pengumuman</h1>
    <div class="editor-label grid_15">
        <label>
            Judul</label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        <input type="text" id="judul-pengumuman-kdt" class="grid_15" />
    </div>
    <br class="clear" />
    <div class="editor-label grid_15">
        <label>
            Isi</label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        @{ Html.BeginForm(); }
        @{ Html.Telerik().Editor()
    .Name("pengumuman_kdt")
    .Encode(false)
    .Tools(tools => tools
        .Clear()
        .Bold().Italic().Underline().Strikethrough().Subscript().Superscript().Separator()
        .FontName().FontSize().FontColor().BackColor().Separator()
        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
        .Break()
        .InsertUnorderedList().InsertOrderedList().Separator()
        .Indent().Outdent().Separator()
        .CreateLink().Unlink().Separator()
        .FormatBlock()
    )
    .HtmlAttributes(new { style = "height:350px;width:100%" })
    .Value(@<text></text>)
    .Render();
        }
    </div>
    <br class="clear" />
    <div class="editor-label grid_15">
        <label>
            Target
        </label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        <input type="checkbox" id="target-pengumuman-kdt-1" />
        Home&nbsp;&nbsp;
        <input type="checkbox" id="target-pengumuman-kdt-2" />
        Mahasiswa Skripsi 1&nbsp;&nbsp;
        <input type="checkbox" id="target-pengumuman-kdt-3" />
        Mahasiswa Skripsi 2&nbsp;&nbsp;
        <input type="checkbox" id="target-pengumuman-kdt-4" />
        Dosen
    </div>
    <br class="clear" />
    <div class="button-block grid_15">
        <input type="button" id="insert-pengumuman-kdt" class="t-button t-state-default"
            value="Tambahkan Pengumuman" />
    </div>
    @{ Html.EndForm(); }
</div>
