@{
    ViewBag.Title = "Edit Pengumuman";
}
<script type="text/javascript">
    function editInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "none";
        document.getElementById("editInLine" + id + "b").style.display = "none";
        document.getElementById("viewInLine" + id + "a").style.display = "inline";
        document.getElementById("viewInLine" + id + "b").style.display = "inline";
    }
    function viewInLine(id) {
        document.getElementById("editInLine" + id + "a").style.display = "inline";
        document.getElementById("editInLine" + id + "b").style.display = "inline";
        document.getElementById("viewInLine" + id + "a").style.display = "none";
        document.getElementById("viewInLine" + id + "b").style.display = "none";
    }
</script>
<table class="profile" style="margin: 50px">
    <tr>
        <td style="width: 75px; height: 30px;">
            Judul
        </td>
        <td style="width: 20px">
            :
        </td>
        <td style="width: 550px">
            <span id="editInLine1a">Bimbingan Minggu ini Ditiadakan</span>
            <input type="text" style="width: 520px; display: none;" id="viewInLine1a" value="Bimbingan Minggu ini Ditiadakan" />
        </td>
        <td style="width: 100px;">
            <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(1)" id="editInLine1b">
                <span class="t-icon t-edit"></span></a><span id="viewInLine1b" style="display: none;">
                    <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(1)"><span class="t-icon t-update">
                    </span></a>&nbsp<a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(1)"><span
                        class="t-icon t-cancel"> </span></a></span>
        </td>
    </tr>
    <tr>
        <td style="height: 30px;">
            Isi
        </td>
        <td>
            :
        </td>
        <td>
            <span id="editInLine2a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                malesuada magna neque, quis accumsan tellus euismod et. Nulla sollicitudin, magna
                ac lobortis venenatis, orci lacus pulvinar arcu, id auctor sapien lectus ac metus.
                Nulla porttitor imperdiet augue ut ornare. Praesent a imperdiet nisi, vel suscipit
                orci. Nullam pulvinar sem dui, porta vehicula augue accumsan sed. Nulla facilisi.
                Etiam tincidunt, tortor eget sagittis tempus, eros nisi eleifend urna, nec auctor
                dui dolor in orci. Fusce adipiscing lectus ac imperdiet dapibus. Etiam ipsum arcu,
                elementum a risus ac, laoreet faucibus dolor.</span>
            <textarea style="width: 520px; height: 200px; display: none;" id="viewInLine2a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada magna neque, quis accumsan tellus euismod et. Nulla sollicitudin, magna ac lobortis venenatis, orci lacus pulvinar arcu, id auctor sapien lectus ac metus. Nulla porttitor imperdiet augue ut ornare. Praesent a imperdiet nisi, vel suscipit orci. Nullam pulvinar sem dui, porta vehicula augue accumsan sed. Nulla facilisi. Etiam tincidunt, tortor eget sagittis tempus, eros nisi eleifend urna, nec auctor dui dolor in orci. Fusce adipiscing lectus ac imperdiet dapibus. Etiam ipsum arcu, elementum a risus ac, laoreet faucibus dolor.</textarea>
        </td>
        <td>
            <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(2)" id="editInLine2b">
                <span class="t-icon t-edit"></span></a><span id="viewInLine2b" style="display: none;">
                    <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(2)"><span class="t-icon t-update">
                    </span></a>&nbsp<a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(2)"><span
                        class="t-icon t-cancel"> </span></a></span>
        </td>
    </tr>
    <tr>
        <td style="width: 75px; height: 30px;">
            Kategori
        </td>
        <td style="width: 20px">
            :
        </td>
        <td style="width: 550px">
            <span id="editInLine3a">Bimbingan Minggu ini Ditiadakan</span> <span id="viewInLine3a"
                style="display: none">
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" />Mahasiswa Skripsi 1
                        </td>
                        <td>
                            <input type="checkbox" />Mahasiswa Skripsi 2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" />Dosen Pembimbing
                        </td>
                        <td>
                            <input type="checkbox" />
                            Dosen Penguji
                        </td>
                    </tr>
                </table>
                </span>
        </td>
        <td style="width: 100px;">
            <a class="t-button t-button-icon t-grid-edit" onclick="editInLine(3)" id="editInLine3b">
                <span class="t-icon t-edit"></span></a><span id="viewInLine3b" style="display: none;">
                    <a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(3)"><span class="t-icon t-update">
                    </span></a>&nbsp<a class="t-button t-button-icon t-grid-edit" onclick="viewInLine(3)"><span
                        class="t-icon t-cancel"> </span></a></span>
        </td>
    </tr>
</table>
