@{
    ViewBag.Title = "EditPengumuman";
}

<script type="text/javascript">
    function edit(e) {
        var detailWindow = $("#EditPengumuman").data("tWindow");
        detailWindow.center().open();

    }
</script>
<div class="layer">
    <h1>
        Edit Pengumuman</h1>
    @{ 
        GridEditMode mode = GridEditMode.PopUp;
        GridButtonType type = GridButtonType.Text;    
    }
    @(Html.Telerik().Grid<Proyek_Informatika.Models.PengumumanKoordinator>()
        .Name("Pengumuman")
                .DataKeys(keys =>
                {
                    keys.Add(p => p.id);
                })
        .DataBinding(dataBinding => dataBinding.Ajax()
                                            .Select("_SelectPengumumanKoordinator", "PengumumanKoordinator")
                                            .Insert("_InsertPengumumanKoordinator", "PengumumanKoordinator")
                                            .Update("_SavePengumumanKoordinator", "PengumumanKoordinator")
                                            .Delete("_DeletePengumumanKoordinator", "PengumumanKoordinator"))
        .Columns(columns =>
        {
            columns.Bound(o => o.Judul).Width(220).Title("Judul");
            columns.Bound(o => o.Tanggal).Width(200).Title("Tanggal");
            columns.Bound(o => o.Penulis).Width(120).Title("Penulis");
            columns.Bound(o => o.Target).Width(150).Title("Kategori");
            columns.Command(comm => comm.Custom("detailBimbingan")
.Text("Edit")
.Ajax(true))
.Width(100);
            columns.Command(commands =>
            {
                
                commands.Delete().ButtonType(type);
            }).Width(100).Title("");
        })
        .Editable(editing => editing.Mode(mode))
               .Pageable(p => p.PageSize(15))
                .Sortable()
                 .Filterable()
                     .Scrollable(c => c.Enabled(true))
                .Selectable()
                .Groupable()
                        .ClientEvents(ev => ev.OnCommand("edit"))
)

  @(Html.Telerik().Window()
                .Name("EditPengumuman")
                .Visible(false)
                .Title("Edit Pengumuman")
                .Modal(true)
                .Width(800)
                .Height(400)
                .Scrollable(true)
                .LoadContentFrom("EditPengumumanWindow","PengumumanKoordinator"))

    @section HeadContent {
        <style type="text/css">
    /* validators */
    .field-validation-error
    {
        position: absolute;
        display: block;
    }
    
    * html .field-validation-error { position: relative; }
    *+html .field-validation-error { position: relative; }
    
    .field-validation-error span
    {
        position: absolute;
        white-space: nowrap;
        color: red;
        padding: 17px 5px 3px;
        background: transparent url('@Url.Content("~/Content/Common/validation-error-message.png") ') no-repeat 0 0;
    }
    
    /* in-form editing */
    .t-edit-form-container
    {
        width: 350px;
        margin: 1em;
    }
    
    .t-edit-form-container .editor-label,
    .t-edit-form-container .editor-field
    {
        padding-bottom: 1em;
        float: left;
    }
    
    .t-edit-form-container .editor-label
    {
        width: 30%;
        text-align: right;
        padding-right: 3%;
        clear: left;
    }
    
    .t-edit-form-container .editor-field
    {
        width: 60%;
    }
</style>
    }
</div>
