<script type="text/javascript">
    function actionButton(e) {
        if (e.name == "viewFile1") {
            var detailWindow = $("#PreviewDoc1").data("tWindow");
            detailWindow.center().open();
        }
        else if (e.name == "downFile1") {
            alert("Download File...");
        }


    }
</script>
<div class="layer">
    <h1>Berkas-berkas Skripsi</h1>
    <table>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td>Hanzolo</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>:</td>
                <td>2010730125</td>
            </tr>
            <tr>
                <td>Judul</td>
                <td>:</td>
                <td>JST</td>
            </tr>
        </table>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.MahasiswaPengumpulanFile>()
        .HtmlAttributes(new { style = "width:900px" })
        .Name("Topik")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })    
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectPengumpulan", "Pengumpulan");
            })
            
        
        .Columns(columns =>
        {
            columns.Bound(o =>o.waktuKumpul).Title("Tanggal Pengumpulan").Width(140).Title("Waktu Pengumpulan");
            columns.Bound(o => o.dokumen).Title("Nama Dokumen").Width(150).Title("Nama Dokumen");
            columns.Bound(o => o.namaFile).Title("Nama File").Width(150).Title("Nama File");
            columns.Bound(o => o.deskripsi).Title("Deskripsi").Width(200).Title("Deskripsi");
            columns.Command(com => com.Custom("downFile1").Text("Unduh File").Ajax(true)).Width(100).Title("Unduh");
            columns.Command(com => com.Custom("viewFile1").Text("Lihat File").Ajax(true)).Width(100).Title("Lihat");
        })
        .ClientEvents(con=>con.OnCommand("actionButton"))
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
        )
@(Html.Telerik().Window()
                .Name("PreviewDoc1")
                .Visible(false)
                .Title("Preview Document")
                .Modal(true)
                .Width(600)
                .Height(800)
                .Scrollable(true)
                .LoadContentFrom("PreviewDocument","PengumpulanDosen")
                )

</div>