    <script type="text/javascript">
        function actionButton(e) {
            if (e.name == "viewFile2") {
                var detailWindow = $("#PreviewDoc2").data("tWindow");
                detailWindow.center().open();
            }
            else if (e.name == "downFile2") {
                alert("Download File...");
            }


        }
</script>
 
 @(Html.Telerik().Grid<Proyek_Informatika.Models.KoordinatorPengumpulanFile>()
        .Name("tabDosenFile2")
        .Columns(col =>
        {
            col.Bound(o => o.id).Width(75);
            col.Bound(o => o.npmMahasiswa).Width(150);
            col.Bound(o => o.namaMahasiswa).Width(150);
            col.Bound(o => o.waktuKumpul).Width(150);
            col.Bound(o => o.judul).Width(200);
            col.Command(com => com.Custom("viewFile2")
                .Text("Lihat File")
                .Ajax(true)).Width(100);
            col.Command(com => com.Custom("downFile2")
                .Text("Unduh File")
                .Ajax(true)).Width(100);
        })
            .ClientEvents(events => events.OnCommand("actionButton"))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("_SelectPengumpulanFile", "PengumpulanKoordinator"))
                    .Pageable()
                    .Sortable()
                    .Filterable()
        
)

<div id="tool_pengumpulanfile">


   
@(Html.Telerik().Window()
                .Name("PreviewDoc2")
                .Visible(false)
                .Title("Preview Document")
                .Modal(true)
                .Width(600)
                .Height(800)
                .Scrollable(true)
                .LoadContentFrom("PreviewDocument","PengumpulanDosen"))
</div>