@{
    ViewBag.Title = "Kalendar";
}
<div class="layer">
<h1>Lihat Jadwal Sidang</h1>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.sidang>()
        .HtmlAttributes(new { style = "width:695px" })
        .Name("Jadkos")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        //.ToolBar(commands => commands
        //    .Custom()
        //    .HtmlAttributes(new { id = "addUser" })
        //    .Text("Add User")
        //    .Ajax(true)
        //    .Action("addUser", "User")
        //)
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectAjaxEditing", "User")
                    .Delete("_DeleteAjaxEditing", "User");
            })
        .Columns(columns =>
        {
            columns.Bound(o => o.skripsi.mahasiswa).Width(150).Title("Mahasiswa");
            columns.Bound(o => o.skripsi.mahasiswa).Width(150).Title("NPM");
            columns.Bound(o => o.jam).Width(150).Title("Jam");
            columns.Bound(o => o.ruang).Width(150).Title("Ruang");
            columns.Bound(o => o.ruang).Width(150).Title("Pembimbing");

            columns.Bound(o => o.ruang).Width(150).Title("Penguji");
            

        })
        //.ClientEvents(
        //    events => events
        //        .OnComplete("OnComplete") --> popup window
        //)
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
</div>

