<script type="text/javascript" charset="utf-8">
    var current;
    $(document).ready(function () {
        $("#tipeSidang").bind("change", function () {
            $.post("SidangKoordinator/Jadwal_Lihat_Kalender", { periode: current, tipe: $("#tipeSidang").val() }, function (data) {
                $("#jadwal").html(data);
            });
        });
        $.post("Query/GetCurrentSemester", "", function (data) {
            current = data;
            $.post("SidangKoordinator/Jadwal_Lihat_Kalender", { periode: data, tipe: $("#tipeSidang").val() }, function (data) {
                $("#jadwal").html(data);
            });
        });
    });
</script>
<div class="layer">
    <h1>
        Lihat Jadwal Sidang</h1>
    <!---------------------------------------->
    <div class="editor-label grid_15">
        <label>
            Tipe Sidang
        </label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        <select id="tipeSidang" class="grid_6">
            <option>Presentasi</option>
            <option>Akhir</option>
        </select>
    </div>
    <br class="clear" />
    <div id="jadwal">
    </div>
</div>
