@{
    ViewBag.Title = "Edit Pengumuman";
}
<script>
    $("#update-pengumuman-dsn").click(function () {
        var temp = 0;
        if ($("#target-pengumuman-dsn-2").is(':checked')) {
            temp += 2;
        }
        if ($("#target-pengumuman-dsn-3").is(':checked')) {
            temp += 4;
        }

        if (temp == 0) {
            alert("Pengumuman gagal ditambahkan! Field target harus dipilih!");
        }

        var values = {
            id: $("#id-pengumuman-dsn").val(),
            isi: $("#pengumuman_dsn").data("tEditor").value(),
            judul: $("#judul-pengumuman-dsn").val(),
            target: temp
        };
        $.post("PengumumanDosen/_UpdatePengumuman", values, function (data) {
            alert(data);
        });
        $('#content').load('PengumumanDosen/EditPengumuman');
    })
</script>
<div class="window-content">
    <input type="hidden" id="id-pengumuman-dsn" />
    Judul :
    <br />
    <input type="text" id="judul-pengumuman-dsn" style="width: 600px">
    <br>
    <br>
    @{ Html.BeginForm(); }
    @{ Html.Telerik().Editor()
        .Name("pengumuman_dsn")
        .Encode(false)
        .Tools(tools => tools
            .Clear()
            .Bold().Italic().Underline().Strikethrough().Subscript().Superscript().Separator()
            .FontName().FontSize().FontColor().BackColor().Separator()
            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
            .Break()
            .InsertUnorderedList().InsertOrderedList().Separator()
            .Indent().Outdent().Separator()
            .CreateLink().Unlink().Separator()
            .FormatBlock()
        )
        .HtmlAttributes(new { style = "height:350px; width:600px" })
        .Value(@<text></text>)
        .Render();
    }
    <br />
    Target :
    <br />
    <input type="checkbox" id="target-pengumuman-dsn-2">
    Mahasiswa Skripsi 1&nbsp;&nbsp;
    <input type="checkbox" id="target-pengumuman-dsn-3">
    Mahasiswa Skripsi 2&nbsp;&nbsp;
    <br />
    <br />
    <div class="txtcenter">
        <input type="button" id="update-pengumuman-dsn" class="t-button t-state-default"
            value="Simpan"></div>
</div>
@{ Html.EndForm(); }
@section HeadContent {
    <style type="text/css">
        .editor-output
        {
            font: normal 1em/1.1em "Consolas" , "Monaco" , "Bitstream Vera Sans Mono" , "Courier New" , Courier, monospace;
            border: 1px solid #ccc;
            background: #fff;
            display: block;
            padding: 4px 8px 8px;
        }
    </style>
}
