@{
    ViewBag.Title = "Edit Pengumuman";
}
<script type="text/javascript">
    $("#update-pengumuman-dsn").click(function () {
        var temp = 0;
        if ($("#target-pengumuman-dsn-2").is(':checked')) {
            temp += 2;
        }
        if ($("#target-pengumuman-dsn-3").is(':checked')) {
            temp += 4;
        }

        if (temp == 0) {
            alert("Pengumuman gagal ditambahkan! Field target harus dipilih!");
        }

        var values = {
            id: $("#id-pengumuman-dsn").val(),
            isi: $("#pengumuman_dsn").data("tEditor").value(),
            judul: $("#judul-pengumuman-dsn").val(),
            target: temp
        };
        $.post("PengumumanDosen/_UpdatePengumuman", values, function (data) {
            alert(data);
        });
        $('#content').load('PengumumanDosen/EditPengumuman');
    })
</script>
<div class="container_15">
    <input type="hidden" id="id-pengumuman-dsn" />
    <div class="editor-label grid_15">
        <label>
            Judul</label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        <input type="text" id="judul-pengumuman-dsn" class="grid_15" />
    </div>
    <br class="clear" />
    <div class="editor-label grid_15">
        <label>
            Isi</label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        @{ Html.BeginForm(); }
        @{ Html.Telerik().Editor()
        .Name("pengumuman_dsn")
        .Encode(false)
        .Tools(tools => tools
            .Clear()
            .Bold().Italic().Underline().Strikethrough().Subscript().Superscript().Separator()
            .FontName().FontSize().FontColor().BackColor().Separator()
            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
            .Break()
            .InsertUnorderedList().InsertOrderedList().Separator()
            .Indent().Outdent().Separator()
            .CreateLink().Unlink().Separator()
            .FormatBlock()
        )
        .HtmlAttributes(new { style = "height:350px; width:100%" })
        .Value(@<text></text>)
        .Render();
        }
    </div>
    <br class="clear" />
    <div class="editor-label grid_15">
        <label>
            Target
        </label>
    </div>
    <br class="clear" />
    <div class="editor-field grid_15">
        <input type="checkbox" id="target-pengumuman-dsn-2" />
        Mahasiswa Skripsi 1&nbsp;&nbsp;
        <input type="checkbox" id="target-pengumuman-dsn-3" />
        Mahasiswa Skripsi 2&nbsp;&nbsp;
    </div>
    <br class="clear" />   
    <div class="button-block grid_15">
        <input type="button" id="update-pengumuman-dsn" class="t-button t-state-default"
            value="Save" /></div>
</div>
@{ Html.EndForm(); }
