@{
    ViewBag.Title = "Pengumuman";
}
<script>
    $(document).ready(function () {
        $.post("PengumumanDosen/SelectPengumuman", "", function (data) {
            $("#pengumuman-dsn").html(data);
        });
    })
</script>
<div class="layer">
    <h1>
        Pengumuman</h1>
    <hr />
    <span id="pengumuman-dsn"></span>
    <button type="submit" class="t-button t-state-default" style="display: none;">
        Pengumuman Selanjutnya</button>
    <button type="submit" class="t-button t-state-default" style="float: right; display: none;">
        Pengumuman Sebelumnya</button>
</div>
