@{
    ViewBag.Title = "Pengumuman";
}
<div class="layer">
    <h1>
        Pengumuman</h1>
    <hr>
    <div class="blokpengumuman">
        <h2>
            Pengumuman bagi para Dosen Pembimbing</h2>
        <div class="tanggal">
            Senin, 23 September 2013 14:00</div>
        Dear all,
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada magna neque,
            quis accumsan tellus euismod et. Nulla sollicitudin, magna ac lobortis venenatis,
            orci lacus pulvinar arcu, id auctor sapien lectus ac metus. Nulla porttitor imperdiet
            augue ut ornare. Praesent a imperdiet nisi, vel suscipit orci. Nullam pulvinar sem
            dui, porta vehicula augue accumsan sed. Nulla facilisi. Etiam tincidunt, tortor
            eget sagittis tempus, eros nisi eleifend urna, nec auctor dui dolor in orci. Fusce
            adipiscing lectus ac imperdiet dapibus. Etiam ipsum arcu, elementum a risus ac,
            laoreet faucibus dolor.
        </p>
        <div class="penulis">
            Regards,
            <br>
            <br>
            <span>Koordinator</span></div>
    </div>
    <hr>
    <div class="blokpengumuman">
        <h2>
            Pengumuman bagi para Dosen Pembimbing</h2>
        <div class="tanggal">
            Senin, 23 September 2013 14:00</div>
        Dear all,
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada magna neque,
            quis accumsan tellus euismod et. Nulla sollicitudin, magna ac lobortis venenatis,
            orci lacus pulvinar arcu, id auctor sapien lectus ac metus. Nulla porttitor imperdiet
            augue ut ornare. Praesent a imperdiet nisi, vel suscipit orci. Nullam pulvinar sem
            dui, porta vehicula augue accumsan sed. Nulla facilisi. Etiam tincidunt, tortor
            eget sagittis tempus, eros nisi eleifend urna, nec auctor dui dolor in orci. Fusce
            adipiscing lectus ac imperdiet dapibus. Etiam ipsum arcu, elementum a risus ac,
            laoreet faucibus dolor.
        </p>
        <div class="penulis">
            Regards,
            <br>
            <br>
            <span>Koordinator</span></div>
    </div>
    <hr>
    <div class="blokpengumuman">
        <h2>
            Pengumuman bagi para Dosen Pembimbing</h2>
        <div class="tanggal">
            Senin, 23 September 2013 14:00</div>
        Dear all,
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada magna neque,
            quis accumsan tellus euismod et. Nulla sollicitudin, magna ac lobortis venenatis,
            orci lacus pulvinar arcu, id auctor sapien lectus ac metus. Nulla porttitor imperdiet
            augue ut ornare. Praesent a imperdiet nisi, vel suscipit orci. Nullam pulvinar sem
            dui, porta vehicula augue accumsan sed. Nulla facilisi. Etiam tincidunt, tortor
            eget sagittis tempus, eros nisi eleifend urna, nec auctor dui dolor in orci. Fusce
            adipiscing lectus ac imperdiet dapibus. Etiam ipsum arcu, elementum a risus ac,
            laoreet faucibus dolor.
        </p>
        <div class="penulis">
            Regards,
            <br>
            <br>
            <span>Koordinator</span></div>
    </div>
    <hr>
    <button type="submit" class="t-button t-state-default">
        Pengumuman Selanjutnya</button>
    <button type="submit" class="t-button t-state-default" style="float:right">
        Pengumuman Sebelumnya</button>
</div>
