@if (Session["role"] != null)
{
    var login = (string)Session["role"];     
    <text>@Html.ActionLink("[ Log Off ]", "LogOff", "Account")
    <br />
    <br />
    <strong>@User.Identity.Name</strong> - @login
    <br />
    <span class="semester"></span></text>
}
else
{
    <text>@Html.ActionLink("[ Log On ]", "LogOn", "Account")
    <br />
    <br />
    <br />
    <span class="semester"></span></text>
}
