@{
    ViewBag.Title = "DaftarDosen";
}
<script>
    function Grid_onComplete(e) {
        if (e.name == "Aktivasi") {
            if (e.response.success == true) {
                $("#DosenGrid .t-refresh").trigger("click");
            }
            else {
                alert("Gagal mengubah status");
            }
        }
    }
</script>
<div class="layer">
    <h1>Daftar Dosen</h1>

@(Html.Telerik().Grid<Proyek_Informatika.Models.DosenContainer>()
    .HtmlAttributes(new { style = "width:100%;" })
    .Name("DosenGrid")
        .ClientEvents(events => events.OnComplete("Grid_onComplete"))
    .DataKeys(keys =>
    {
        keys.Add(p => p.NIK);
    })
    .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Text).ImageHtmlAttributes(new { style = "margin-left:0" }))
    .DataBinding(dataBinding => dataBinding.Ajax()
                        .Select("_SelectDosen", "User")
                        .Insert("_InsertDosen", "User")
                        .Update("_SaveDosen", "User"))
                        //.Delete("_DeleteDosen", "User"))
    .Columns(columns =>
    {
        columns.Bound(o => o.foto).ClientTemplate("<img width='100' height='110'  src='<#= foto #>' />").Title("foto").Width(100).ReadOnly().Hidden();
        columns.Bound(o => o.NIK).Title("NIK").Width(75);
        columns.Bound(o => o.nama).Title("Nama").Width(100);
        columns.Bound(o => o.inisial).Title("Inisial").Width(60);
        columns.Bound(o => o.email).Title("Email").Width(180).ReadOnly();
        columns.Bound(o => o.username).Title("Username").Width(100);
        columns.Bound(o => o.aktif).Title("Status").Width(60).ReadOnly();
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Text);
            commands.Custom("Aktivasi").Text("Ubah Status").Ajax(true)
                .Action("Change_Status_Dosen", "User")
                .DataRouteValues(route => { route.Add(a => a.NIK).RouteKey("NIK"); });
            //commands.Delete().ButtonType(GridButtonType.Text);
        }).Width(180).Title("");
    })
    .Pageable()
    .Scrollable(c => c.Enabled(true).Height(600))
    .Sortable()
    //.Editable(editing => editing.Mode(GridEditMode.InLine))
    .Filterable()
)
</div>
