@{
    ViewBag.Title = "Daftar Mahasiswa";
}

<script type="text/javascript">    
    $(document).ready(function () {
        $.post("User/GridMahasiswa", {id_selected_semester : -1}, function (data) {
            $("#div_grid_mahasiswa").html(data);
        });
    });
    
    function Change_Semester(e) {
        //debugger;
        var id_semester = $("#DropDownSemester").data("tDropDownList").value();                
        $.post("User/GridMahasiswa", {id_selected_semester : id_semester}, function (data) {
            $("#div_grid_mahasiswa").html(data);
        });
    }
</script>

<div class="layer">
    <h1>Daftar Mahasiswa</h1>
        
    <!--DROP DOWN SEMESTER-->
    @*@(Html.Telerik().DropDownList()
            .Name("DropDownSemester")
            .BindTo(new SelectList(ViewData["list_semester"] as IEnumerable<Proyek_Informatika.Models.semester>, "id", "periode_semester", ViewData["id_selected_semester"]))
            .ClientEvents(c => { 
                c.OnChange("Change_Semester"); 
            })
    )*@

    <div id="div_grid_mahasiswa"></div>
</div>
