@{
    ViewBag.Title = "About";
}
<div class="layer">
    <h1>About Us</h1>
    
        
    <div class="container_15">
        <div class="grid_13 prefix_1 suffix_1">            
            <hr />
            <h2 class="txtcenter">Automation Developers</h2>
            <div class="quote txtcenter">"Don't undertake a project unless it is manifestly important and nearly impossible."</div> 
            <br />        
        </div>
        <div class="grid_15">
            <img src="../../../Content/images/avatar/team.jpg" class="grid_9 prefix_3 suffix_3"/>            
        </div>
        <div class="grid_13 prefix_1 suffix_1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>           
            <hr />
            <br />
        </div>
        
       <!------------------------------------------------------------------------------------------------------------------------------------> 
        <div class="grid_15">
            <div class="grid_5 prefix_2 alpha">    
                    <br />            
                    <img src="../../../Content/images/avatar/1.jpg" class="grid_15" />
            </div>
            <div class="grid_7 suffix_1 omega"> 
                <h3 class="span">Raymond Chandra Putra</h3> - <strong>Project Manager</strong>
                <br /><span class="quote">"Lorem ipsum dolor sit amet"</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                <img src="../../../Content/images/media/fb1.png" class="icon"/><img src="../../../Content/images/media/twt3.png" class="icon"/>  
            </div>           
        </div>
        <div class="grid_15">
            <br /><br />
        </div>
        <!------------------------------------------------------------------------------------------------------------------------------------> 
        <div class="grid_15">
            <div class="grid_7 prefix_1 alpha txtright"> 
                <h3 class="span">Hans Wirya Halim</h3> - <strong>System Analyst</strong>
                <br /><span class="quote">"Lorem ipsum dolor sit amet"</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                <img src="../../../Content/images/media/fb2.png" class="icon"/><img src="../../../Content/images/media/twt4.png" class="icon"/>  
            </div>
            <div class="grid_5 suffix_2 omega">  
                    <br />                
                    <img src="../../../Content/images/avatar/2.jpg" class="grid_15" />
            </div>                       
        </div>
        <div class="grid_15">
            <br /><br />
        </div>
        <!------------------------------------------------------------------------------------------------------------------------------------> 
        <div class="grid_15">
            <div class="grid_5 prefix_2 alpha"> 
                    <br />                 
                    <img src="../../../Content/images/avatar/3.jpg" class="grid_15" />
            </div>
            <div class="grid_7 suffix_1 omega"> 
                <h3 class="span">Aristophanes Albertus Alvin</h3> - <strong>Quality Assurance</strong>
                <br /><span class="quote">"Lorem ipsum dolor sit amet"</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                <img src="../../../Content/images/media/fb3.png" class="icon"/><img src="../../../Content/images/media/twt5.png" class="icon"/>  
            </div>           
        </div>
        <div class="grid_15">
            <br /><br />
        </div>
        <!------------------------------------------------------------------------------------------------------------------------------------> 
        <div class="grid_15">
            <div class="grid_7 prefix_1 alpha txtright"> 
                <h3 class="span">Cindy Monica</h3> - <strong>Programmer</strong>
                <br /><span class="quote">"Lorem ipsum dolor sit amet"</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                <img src="../../../Content/images/media/fb4.png" class="icon"/><img src="../../../Content/images/media/twt1.png" class="icon"/>  
            </div>
            <div class="grid_5 suffix_2 omega"> 
                    <br />                 
                    <img src="../../../Content/images/avatar/4.jpg" class="grid_15" />
            </div>                       
        </div>
        <div class="grid_15">
            <br /><br />
        </div>
        <!------------------------------------------------------------------------------------------------------------------------------------> 
        <div class="grid_15">
            <div class="grid_5 prefix_2 alpha">      
                    <br />            
                    <img src="../../../Content/images/avatar/5.jpg" class="grid_15" />
            </div>
            <div class="grid_7 suffix_1 omega"> 
                <h3 class="span">Chyntia Dewi Gunawan</h3> - <strong>Programmer</strong>
                <br /><span class="quote">"Lorem ipsum dolor sit amet"</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                <img src="../../../Content/images/media/fb5.png" class="icon"/><img src="../../../Content/images/media/twt2.png" class="icon"/>  
            </div>           
        </div> 
        <div class="grid_13 prefix_1 suffix_1">
            <hr />
        </div>
    </div>

  
</div>
