@{
    ViewBag.Title = "Home";
    var role = (string)Session["role"];  
}
@if (role == "dosen")
{
    <script type="text/javascript">
        $('#content').load('PengumumanDosen/Pengumuman');
    </script>    
}
else if (role == "koordinator")
{
    <script type="text/javascript">
        $('#content').load('PengumumanKoordinator/Pengumuman');
    </script>
}
else if (role == "mahasiswa")
{
    <script type="text/javascript">
        $('#content').load('Pengumuman/Pengumuman');
    </script>
}
else
{
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.post("Home/Files", function (data) {
                $("#fileSpan").html(data);
            });
        });
        $.post("Home/SelectPengumuman", "", function (data) {
            $("#pengumuman-home").html(data);
        });
        
    </script>

    <div class="grid_10 left">
        <div id="pengumuman" class="layer">
            <h1>
                Home</h1>
            <hr />
            <span id="pengumuman-home"></span>
            <button type="submit" class="t-button t-state-default" style="display: none;">
                Pengumuman Selanjutnya</button>
            <button type="submit" class="t-button t-state-default" style="display: none;">
                Pengumuman Sebelumnya</button>
        </div>
    </div>
    <div class="grid_5 right">
        <div id="filesharing" class="layer">
            <h1>
                Download</h1>
            <hr />
            <span id="fileSpan"></span>
        </div>
    </div>
    
}