@{
    ViewBag.Title = "Topik";
}
<div class="layer">
    <h1>
        Topik</h1>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.Topik>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("Topik")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })

         .DataBinding(dataBinding => dataBinding.Ajax()
                                            .Select("_SelectTopik", "Home")
                                            .Insert("_InsertTopik", "Home")
                                            .Update("_SaveTopik", "Home")
                                            .Delete("_DeleteTopik", "Home"))
        .Columns(columns =>
        {
            columns.Bound(o => o.Nama).Width(200).Title("Topik");            
            columns.Bound(o => o.Pembimbing).Width(100).Title("Pembimbing");
            columns.Bound(o => o.Keterangan).Width(100).Title("Keterangan");

        })
            //.ClientEvents(
            //    events => events
            //        .OnComplete("OnComplete") --> popup window
            //)
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
            //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)
</div>
