@{
    ViewBag.Title = "Topik";
}
<script type="text/javascript">
    function onCommand(e) {
        if (e.name == "lihatDetail") {
            var text = "<table class='window-content'>";
            text += "<tr><td class='label'>Topik</td><td>:</td><td>" + e.row.cells[1].innerHTML + "</td></tr>";
            text += "<tr><td class='label'>Deskripsi</td><td>:</td><td>" + e.row.cells[2].innerHTML + "</td></tr>";
            text += "<tr><td class='label'>Pembimbing</td><td>:</td><td>" + e.row.cells[3].innerHTML + "</td></tr>";
            text += "<tr><td class='label'>Keterangan</td><td>:</td><td>" + e.row.cells[4].innerHTML + "</td></tr>";
            text += "</table>";
            $(".detail").html(text);
            var windowZ = $("#topikDetail").data("tWindow");
            windowZ.center().open();
        }
    }
</script>
<div class="layer">
    <h1>
        Topik</h1>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.TopikContainer>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("Topik")
        .DataKeys(keys =>
        {
            keys.Add(k => k.id);
        })
        .DataBinding(dataBinding => dataBinding.Ajax()
            .Select("_SelectTopik", "Home"))
            .DetailView(det => det.ClientTemplate(
                "<fieldset class='detail'>" +
                "<legend>Deskripsi</legend>" +
                "<div><#= deskripsi #>" +
                "</div>" +
                "</fieldset>"
            ))
        .Columns(columns =>
        {
            columns.Bound(c => c.id).Hidden();
            columns.Bound(c => c.judul).Width(300).Title("Topik");
            columns.Bound(c => c.deskripsi).Hidden();
            columns.Bound(c => c.pembimbing).Width(200).Title("Pembimbing");
            columns.Bound(c => c.keterangan).Width(150).Title("Keterangan");
            columns.Command(c => c.Custom("lihatDetail")
                .Text("Detail")
                .Ajax(true)).Width(100).Hidden();
        })
        .ClientEvents(ev => ev.OnCommand("onCommand"))
        .Pageable(p => p.PageSize(20))
        .Scrollable(c => c.Enabled(true).Height(600))
        .Sortable()
        .Filterable()
        .Selectable()
        .Groupable()
    )
    @(Html.Telerik().Window()
        .Name("topikDetail")
        .Title("Topik")
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(1300)
        .Scrollable(true)
        .Content(@<text> <span class="detail"></span></text>)
    )
</div>
