@{
    ViewBag.Title = "Topik";
}
<script type="text/javascript">

    function onCommand(e) {
        if (e.name == "lihatDetail") {
            var text = "<table>";
            text += "<tr><td class='name'>Topik</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[1].innerHTML + "</td></tr>";
            text += "<tr><td class='name'>Deskripsi</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[2].innerHTML + "</td></tr>";
            text += "<tr><td class='name'>Pembimbing</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[3].innerHTML + "</td></tr>";
            text += "<tr><td class='name'>Keterangan</td><td>&nbsp:&nbsp</td><td>" + e.row.cells[4].innerHTML + "</td></tr>";
            text += "</table>";
            document.getElementById('detail').innerHTML = text;
            var windowZ = $("#topikDetail").data("tWindow");
            windowZ.center().open();
        }
        else if (e.name == "editDetail") {
            document.getElementById("id").value = e.row.cells[0].innerHTML;
            document.getElementById("judul").value = e.row.cells[1].innerHTML;
            document.getElementById("deskripsi").value = e.row.cells[2].innerHTML;
            var windowZ = $("#topikUpdate").data("tWindow");
            windowZ.center().open();
        }
    }


</script>
<div class="layer">
    <h1>
        Topik</h1>
    @{var login = (string)Session["role"];
      if (login == "dosen")
      { 
            
        <script type="text/javascript">
            $("#insert").click(function () {
                var values = {
                    judul: $("#topik-judul").val(),
                    deskripsi: $("#topik-deskripsi").val()
                };
                $.post("Home/_InsertTopik", values, function (data) {
                    alert(data);
                });
                $('#content').load('Home/TopikAdmin');
            })
        </script>

        <br />
        <div>
            <fieldset>
                <legend>Registrasi Topik</legend>
                <div class="editor-label">
                    Topik
                </div>
                <div class="editor-field">
                    <input id="topik-judul" name="judul" style="width: 500px;" type="text" value="" />
                    <br />
                </div>
                <div class="editor-label">
                    Deskripsi
                </div>
                <div class="editor-field">
                    <textarea cols="20" id="topik-deskripsi" name="deskripsi" rows="2" style="width: 500px;
                        height: 150px"></textarea><br />
                </div>
                <br />
                <input type="button" id="insert" value="Register" class="t-button t-state-default" />
            </fieldset>
        </div>

        <br />
      }    
    }
    @{ 
        GridEditMode mode = GridEditMode.InLine;
        GridButtonType type = GridButtonType.Text;    
    }
    @(Html.Telerik().Grid<Proyek_Informatika.Models.TopikContainer>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("topik")
        .DataKeys(keys =>
        {
            keys.Add(k => k.id);
        })
        .DataBinding(dataBinding => dataBinding.Ajax()
            .Select("_SelectTopik", "Home")
            .Delete("_DeleteTopik", "Home"))
        .Columns(columns =>
        {
            columns.Bound(c => c.id).Hidden();
            columns.Bound(c => c.judul).Width(300).Title("Topik");
            columns.Bound(c => c.deskripsi).Hidden();
            columns.Bound(c => c.pembimbing).Width(180).Title("Pembimbing");
            columns.Bound(c => c.keterangan).Width(100).Title("Keterangan");
            columns.Command(c => c.Custom("lihatDetail")
                .Text("Detail")
                .Ajax(true)).Width(95);
            columns.Command(c => c.Custom("editDetail")
                .Text("Edit")
                .Ajax(true)).Width(95);
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(type);
            }).Width(95);
        })
        .ClientEvents(ev => ev.OnCommand("onCommand").OnComplete("onCommand"))
        .Editable(editing => editing.Mode(mode))
        .Pageable(p => p.PageSize(15))
        .Scrollable(c => c.Enabled(true))
        .Sortable()
        .Filterable()
        .Selectable()
        .Groupable()
    )
    @(Html.Telerik().Window()
        .Name("topikDetail")
        .Title("Detail Topik")
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(250)
        .Scrollable(true)
        .Content(@<text>
    <p id="detail">
    </p></text>)
    )
    @(Html.Telerik().Window()
        .Name("topikUpdate")
        .Title("Edit Topik")
        .Visible(false)
        .Modal(true)
        .Width(500)
        .Height(375)
        .Scrollable(true)
        .LoadContentFrom("TopikUpdate", "Home")
    )
    @section HeadContent {
        <style type="text/css">
    /*--------------------validators--------------------*/
    .field-validation-error
    {
        position: absolute;
        display: block;
    }
    
    * html .field-validation-error { position: relative; }
    *+html .field-validation-error { position: relative; }    
    .field-validation-error span
    {
        position: absolute;
        white-space: nowrap;
        color: red;
        padding: 17px 5px 3px;
        background: transparent url('@Url.Content("~/Content/Common/validation-error-message.png") ') no-repeat 0 0;
    }
    
    /*--------------------in-form editing--------------------*/
    .t-edit-form-container
    {
        width: 350px;
        margin: 1em;
    }    
    .t-edit-form-container .editor-label,
    .t-edit-form-container .editor-field
    {
        padding-bottom: 1em;
        float: left;
    }    
    .t-edit-form-container .editor-label
    {
        width: 30%;
        text-align: right;
        padding-right: 3%;
        clear: left;
    }    
    .t-edit-form-container .editor-field
    {
        width: 60%;
    }
</style>
    }
    <style>
        #detail table
        {
            width: 100%;
        }
        td.name
        {
            width: 25%;
        }
        #detail table tr td
        {
            padding: 5px;
            vertical-align: top;
        }
    </style>
</div>
